# Import

In [1]:
from keras.models import load_model
from keras.models import Model
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import tensorflow as tf
from sklearn.metrics import mean_squared_error
import keras
import yfinance as yf
from matplotlib.backends.backend_pdf import PdfPages
import pickle
import json
from scipy.optimize import minimize
from datetime import datetime, timedelta

# add dividend

In [2]:
excel_file_path_div = 'settings/Dividend2018.xlsx'
div = pd.read_excel(excel_file_path_div)
print(div)

# Set symbol column as inde
div.set_index('Share', inplace=True)

      Share  Dividend
0    ALV.DE      9.00
1    DBK.DE      0.11
2   VOW3.DE      4.86
3    BMW.DE      3.50
4    ADS.DE      3.35
5    BEI.DE      0.70
6    DTE.SG      0.70
7    SAP.DE      1.50
8   1COV.DE      2.40
9    BAS.DE      3.20
10  EOAN.DE      0.43
11   RWE.DE      0.70

# Download stock data

In [3]:
def download_stock_data(stock_symbols, start_date, end_date, output_file):
    with open(output_file, 'w') as f:
        # write column headings
        f.write('Date,Open,High,Low,Close,Volume\n')
        
        #for symbol in stock_symbols:
            # load share data for the symbol (Share name) and the given time period
        stock_data = yf.download(symbol, start=start_date, end=end_date)
        stock_data = stock_data[['Open', 'High', 'Low', 'Close', 'Volume']]  # Auswahl der gewünschten Spalten
        stock_data.to_csv(f, header=False)  # Schreiben der Daten in die Datei

In [4]:
# Enter symbols
stock_symbols = ['ALV.DE', 'DBK.DE', 'VOW3.DE', 'BMW.DE', 'ADS.DE', 'BEI.DE', 'DTE.SG', 'SAP.DE', '1COV.DE', 'BAS.DE', 'EOAN.DE', 'RWE.DE']
start_date = '2014-01-01'
end_date = '2018-12-31'

# load and store the data for every share
for symbol in stock_symbols:
    output_file = f'stock_data_{symbol}.csv'
    download_stock_data(symbol, start_date, end_date, output_file)

    # read CSV and select select the desired columns
    df = pd.read_csv(output_file, usecols=['Date', 'Open', 'High', 'Low', 'Close', 'Volume'])
    
    # Search CSV file for empty lines and remove them
    with open(output_file, 'r') as file:
        lines = file.readlines()

    # filter the empty lines
    lines = [line.strip() for line in lines if line.strip()]

    # Overwrite the file with the adjusted rows
    with open(output_file, 'w') as file:
        file.write('\n'.join(lines))

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [5]:
# store the data frames for different symbols in the dictionary
dfPre = {}

for symbol in stock_symbols:
    # load CSV
    dfPre[symbol] = pd.read_csv(f'stock_data_{symbol}.csv')

    # Drop empty rows
    dfPre[symbol].dropna(inplace=True)

    # transform date to index
    dfPre[symbol].set_index('Date', inplace=True)

    # Check the number of rows
    num_rows = dfPre[symbol].shape[0]

In [6]:
# Check missing values
missing_values_beforePre = {symbol: dfPre[symbol].isnull().values.any() for symbol in stock_symbols}

# missing values are replaced with teh mean of the row before and after the actual row
for symbol in stock_symbols:
    for column in dfPre[symbol].columns:
        missing_valuesPre = dfPre[symbol][column].isnull()
        dfPre[symbol].loc[missing_valuesPre, column] = (dfPre[symbol][column].shift() + dfPre[symbol][column].shift(-1)) / 2

# Check if there are still any missing values 
missing_values_afterPre = {symbol: dfPre[symbol].isnull().values.any() for symbol in stock_symbols}

# Output of the missing values before and after the Treatment
for symbol in stock_symbols:
    print(f"Fehlende Werte vor der Behandlung für {symbol} gefunden:", missing_values_beforePre[symbol])
    print(f"Fehlende Werte nach der Behandlung für {symbol} gefunden:", missing_values_afterPre[symbol])

# Output of the length of the data frame for all symbols
for symbol in stock_symbols:
    print(f"Länge des Datensatzes für {symbol}:", len(dfPre[symbol]))

Fehlende Werte vor der Behandlung für ALV.DE gefunden: False
Fehlende Werte nach der Behandlung für ALV.DE gefunden: False
Fehlende Werte vor der Behandlung für DBK.DE gefunden: False
Fehlende Werte nach der Behandlung für DBK.DE gefunden: False
Fehlende Werte vor der Behandlung für VOW3.DE gefunden: False
Fehlende Werte nach der Behandlung für VOW3.DE gefunden: False
Fehlende Werte vor der Behandlung für BMW.DE gefunden: False
Fehlende Werte nach der Behandlung für BMW.DE gefunden: False
Fehlende Werte vor der Behandlung für ADS.DE gefunden: False
Fehlende Werte nach der Behandlung für ADS.DE gefunden: False
Fehlende Werte vor der Behandlung für BEI.DE gefunden: False
Fehlende Werte nach der Behandlung für BEI.DE gefunden: False
Fehlende Werte vor der Behandlung für DTE.SG gefunden: False
Fehlende Werte nach der Behandlung für DTE.SG gefunden: False
Fehlende Werte vor der Behandlung für SAP.DE gefunden: False
Fehlende Werte nach der Behandlung für SAP.DE gefunden: False
Fehlende Werte vor der Behandlung für 1COV.DE gefunden: False
Fehlende Werte nach der Behandlung für 1COV.DE gefunden: False
Fehlende Werte vor der Behandlung für BAS.DE gefunden: False
Fehlende Werte nach der Behandlung für BAS.DE gefunden: False
Fehlende Werte vor der Behandlung für EOAN.DE gefunden: False
Fehlende Werte nach der Behandlung für EOAN.DE gefunden: False
Fehlende Werte vor der Behandlung für RWE.DE gefunden: False
Fehlende Werte nach der Behandlung für RWE.DE gefunden: False
Länge des Datensatzes für ALV.DE: 1268
Länge des Datensatzes für DBK.DE: 1268
Länge des Datensatzes für VOW3.DE: 1268
Länge des Datensatzes für BMW.DE: 1268
Länge des Datensatzes für ADS.DE: 1268
Länge des Datensatzes für BEI.DE: 1268
Länge des Datensatzes für DTE.SG: 1269
Länge des Datensatzes für SAP.DE: 1268
Länge des Datensatzes für 1COV.DE: 823
Länge des Datensatzes für BAS.DE: 1268
Länge des Datensatzes für EOAN.DE: 1268
Länge des Datensatzes für RWE.DE: 1268

# Read close values at the begin of the time period

In [7]:
# Definition of the time period
# convert in to datetime objekt to substract days for the last day before this period
start_date_obj = datetime.strptime(end_date, '%Y-%m-%d')
end_date_obj = datetime.strptime(end_date, '%Y-%m-%d')
# Substract 5 days for the new start_date and 1 day for the new end_date
# In the next block the last date will be extracted 
new_start_date = start_date_obj - timedelta(days=5)
new_end_date = end_date_obj

print(new_start_date)
print(new_end_date)

# Load and store the data for every symbol (share)
for symbol in stock_symbols:
    output_file = f'stock_data_begin{symbol}.csv'
    download_stock_data(symbol, new_start_date, new_end_date, output_file)

    # Search and delete empty rows in the CSV file
    with open(output_file, 'r') as file:
        lines = file.readlines()

    # Filter the empty rows
    lines = [line.strip() for line in lines if line.strip()]

    # Overwrite the file with the cleaned data
    with open(output_file, 'w') as file:
        file.write('\n'.join(lines))

[*********************100%%**********************]  1 of 1 completed

2018-12-26 00:00:00
2018-12-31 00:00:00

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [8]:
# create data frame for the collected data 
combined_data_begin = pd.DataFrame(columns=['Symbol', 'Close_Value'])

# load and store the data for every symbol (share)
for symbol in stock_symbols:
    output_file = f'stock_data_begin{symbol}.csv'
    # read CSV file 
    df = pd.read_csv(output_file)

    # Select the last row only
    last_row = df.tail(1)

     # Write symbol and close value to the data frame
    data = {'Symbol': symbol, 'Close_Value': last_row['Close'].iloc[0]}
    combined_data_begin = pd.concat([combined_data_begin, pd.DataFrame(data, index=[0])], ignore_index=True)
    
# Add a row for the risk-free interest rate with the specified value
risk_free_rate = 0.3 # Input in percentage
risk_free_rate = risk_free_rate # Risk free rate per month
risk_free_data = {'Symbol': 'Risk_Free', 'Close_Value': 100}
combined_data_begin = combined_data_begin.append(risk_free_data, ignore_index=True)

print(combined_data_begin)

       Symbol  Close_Value
0      ALV.DE   175.139999
1      DBK.DE     6.967000
2     VOW3.DE   138.919998
3      BMW.DE    70.699997
4      ADS.DE   182.399994
5      BEI.DE    91.160004
6      DTE.SG    13.690000
7      SAP.DE    86.930000
8     1COV.DE    43.180000
9      BAS.DE    60.400002
10    EOAN.DE     8.627000
11     RWE.DE    18.965000
12  Risk_Free   100.000000

C:\Users\Samuel\AppData\Local\Temp\ipykernel_15872\1559878281.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data_begin = combined_data_begin.append(risk_free_data, ignore_index=True)

# load share value from 2019

In [9]:
start_date = '2019-12-01'
end_date = '2019-12-31'
print(f'Startdatum: {start_date}, Enddatum: {end_date}')
# Load and store the symbols for every symbol (share)
for symbol in stock_symbols:
    output_file = f'stock_data_{symbol}_2019.csv'
    download_stock_data(symbol, start_date, end_date, output_file)

    # search and delete for empty rows in the CSV 
    with open(output_file, 'r') as file:
        lines = file.readlines()

    # Filter the empty rows
    lines = [line.strip() for line in lines if line.strip()]

    # Overwrite the file with the cleaned rows
    with open(output_file, 'w') as file:
        file.write('\n'.join(lines))

[*********************100%%**********************]  1 of 1 completed

Startdatum: 2019-12-01, Enddatum: 2019-12-31

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [10]:
# list for the las close value of the shares
last_close_values = []

# load for each symbol
for symbol in stock_symbols:
    # file name of the csv data
    csv_file = f'stock_data_{symbol}_2019.csv'
    
    # load CSV data
    df = pd.read_csv(csv_file)
    
    # set date as index
    df.set_index('Date', inplace=True)
    
    # collect just the last close value and write it to the list
    last_close_value = df['Close'].iloc[-1]
    last_close_values.append((symbol, last_close_value))
print(last_close_values[0][1])

# Add a row for the risk-free interest rate with a value of 1
last_close_values.append(('Risk_Free', 100 + risk_free_rate))

# print the list
print("Liste der letzten Close-Werte:")
for symbol, last_close_value in last_close_values:
    print(f"{symbol}: {last_close_value}")

218.3999938964844
Liste der letzten Close-Werte:
ALV.DE: 218.3999938964844
DBK.DE: 6.916999816894531
VOW3.DE: 176.24000549316406
BMW.DE: 73.13999938964844
ADS.DE: 289.79998779296875
BEI.DE: 106.6500015258789
DTE.SG: 13.6899995803833
SAP.DE: 120.31999969482422
1COV.DE: 41.45000076293945
BAS.DE: 67.3499984741211
EOAN.DE: 9.52400016784668
RWE.DE: 27.350000381469727
Risk_Free: 100.3

# Split into blocks of 252 days (252 business days per year)

In [11]:
# Dictionary for the splitted data
df_split = {}

# Quantity of the blocks per symbol
block_size = 252

for symbol, df in dfPre.items():
    # Quantity of the rows in the data frame
    num_rows = len(df)

    # Split the data frame in to blocks
    split_dfs = np.array_split(df, num_rows // block_size)

    # Add the solited blocks to the dictionary
    df_split[symbol] = split_dfs

# Output result
for symbol, split_dfs in df_split.items():
    print(f"Symbol: {symbol}")
    for i, df_block in enumerate(split_dfs):
        print(f"Block {i+1}:")
        print(df_block)
        print()

Symbol: ALV.DE
Block 1:
                  Open        High         Low       Close   Volume
Date
2014-01-02  130.949997  131.399994  127.849998  128.149994  1524683
2014-01-03  128.000000  128.449997  127.150002  127.900002   853713
2014-01-06  127.650002  128.800003  127.599998  128.399994   900878
2014-01-07  128.350006  130.350006  128.149994  130.100006  1189652
2014-01-08  130.149994  130.149994  128.850006  129.399994  1214204
...                ...         ...         ...         ...      ...
2014-12-23  139.500000  140.000000  138.899994  139.699997  1040720
2014-12-29  139.000000  139.399994  137.050003  139.250000  1083568
2014-12-30  138.149994  138.300003  137.350006  137.350006   695403
2015-01-02  137.300003  137.850006  135.750000  136.699997  1494235
2015-01-05  136.500000  137.500000  133.149994  133.350006  2091329

[254 rows x 5 columns]

Block 2:
                  Open        High         Low       Close   Volume
Date
2015-01-06  133.800003  135.449997  132.600006  133.500000  1942283
2015-01-07  133.550003  135.500000  133.149994  134.750000  1639715
2015-01-08  136.000000  138.699997  135.149994  138.300003  2182730
2015-01-09  137.899994  138.399994  134.750000  135.850006  2042597
2015-01-12  136.149994  137.800003  134.899994  136.600006  1490200
...                ...         ...         ...         ...      ...
2015-12-28  163.449997  163.449997  161.250000  161.500000   580208
2015-12-29  162.899994  165.000000  162.600006  165.000000   969487
2015-12-30  165.000000  165.300003  163.550003  163.550003   657147
2016-01-04  160.149994  160.149994  155.500000  156.000000  2742295
2016-01-05  158.000000  158.399994  154.300003  156.500000  1521606

[254 rows x 5 columns]

Block 3:
                  Open        High         Low       Close   Volume
Date
2016-01-06  157.149994  158.149994  155.949997  157.000000  1686090
2016-01-07  153.149994  154.949997  151.550003  153.750000  2454430
2016-01-08  154.449997  156.000000  151.800003  151.800003  1847223
2016-01-11  151.000000  154.750000  150.800003  152.399994  1622793
2016-01-12  152.500000  155.750000  151.699997  154.300003  1619622
...                ...         ...         ...         ...      ...
2016-12-27  156.699997  157.000000  156.149994  156.850006   397154
2016-12-28  156.750000  157.149994  155.300003  156.399994   807792
2016-12-29  155.250000  156.199997  155.250000  155.899994   663670
2016-12-30  155.899994  157.000000  155.199997  157.000000   790505
2017-01-02  156.300003  157.500000  155.500000  157.300003   855478

[254 rows x 5 columns]

Block 4:
                  Open        High         Low       Close   Volume
Date
2017-01-03  158.000000  160.100006  157.550003  159.550003  1623857
2017-01-04  160.000000  160.949997  159.550003  160.399994  1221389
2017-01-05  161.000000  162.000000  159.600006  160.699997  1469189
2017-01-06  160.149994  161.500000  159.550003  161.100006   965147
2017-01-09  161.600006  161.649994  159.199997  160.300003   963965
...                ...         ...         ...         ...      ...
2017-12-20  199.300003  199.850006  195.199997  195.350006  1146377
2017-12-21  195.500000  196.250000  194.449997  196.250000   981202
2017-12-22  195.449997  196.500000  194.699997  195.250000   737506
2017-12-27  194.899994  196.199997  193.850006  194.100006   624558
2017-12-28  194.250000  194.699997  192.949997  193.250000   742997

[253 rows x 5 columns]

Block 5:
                  Open        High         Low       Close   Volume
Date
2017-12-29  193.399994  193.399994  189.300003  191.500000   982319
2018-01-02  193.100006  193.360001  190.500000  192.699997  1479063
2018-01-03  193.960007  194.000000  191.580002  193.000000  1378661
2018-01-04  194.279999  196.720001  194.179993  195.500000  1551761
2018-01-05  196.199997  198.559998  195.839996  198.559998  1319824
...                ...         ...         ...         ...      ...
2018-12-19  175.600006  177.199997  174.679993  175.940002  1326802
2018-12-20  173.199997  175.820007  172.860001  174.960007  1599316
2018-12-21  174.600006  175.220001  173.699997  175.020004  3334380
2018-12-27  174.679993  174.779999  170.460007  172.160004  1214929
2018-12-28  172.800003  175.919998  172.479996  175.139999   792046

[253 rows x 5 columns]

Symbol: DBK.DE
Block 1:
                 Open       High        Low      Close    Volume
Date
2014-01-02  29.683363  29.777000  28.955538  29.019382   6964846
2014-01-03  29.155582  29.410959  28.951281  29.283272   5344933
2014-01-06  29.240709  29.611006  29.181122  29.381166   4768036
2014-01-07  29.402449  30.415445  29.402449  30.270731   9363207
2014-01-08  30.475033  31.139013  30.402676  30.875124  11376352
...               ...        ...        ...        ...       ...
2014-12-23  22.433170  22.638447  22.205582  22.625059   4652927
2014-12-29  22.580435  22.691998  22.152031  22.629522   4907891
2014-12-30  22.491184  22.531347  22.299295  22.299295   3191689
2015-01-02  22.451021  22.790174  22.232357  22.540272   6609149
2015-01-05  22.491184  22.647373  21.558514  21.620989  11323893

[254 rows x 5 columns]

Block 2:
                 Open       High        Low      Close    Volume
Date
2015-01-06  21.598677  21.915518  21.161348  21.344313   9189181
2015-01-07  21.540663  21.701315  21.326462  21.460339   6059355
2015-01-08  21.812878  22.022617  21.317537  21.853041  12038298
2015-01-09  21.795029  22.018154  21.103334  21.339849  11003161
2015-01-12  21.411249  21.661152  20.951609  21.339849   9127284
...               ...        ...        ...        ...       ...
2015-12-28  19.902912  20.072489  19.728874  19.795813   2786342
2015-12-29  19.992163  20.402718  19.992163  20.282228   5292754
2015-12-30  20.313465  20.349167  20.103727  20.103727   2659495
2016-01-04  19.545910  19.702099  18.970242  19.144281  10874965
2016-01-05  19.715487  19.724411  19.135357  19.452196   7489150

[254 rows x 5 columns]

Block 3:
                 Open       High        Low      Close    Volume
Date
2016-01-06  19.336170  19.536985  19.099655  19.291546   7130077
2016-01-07  18.867603  19.014868  18.407963  18.876530  11562341
2016-01-08  18.903303  19.126431  18.265162  18.265162   8803404
2016-01-11  18.149136  18.805128  18.149136  18.479362   8905912
2016-01-12  18.577539  19.037180  18.448126  18.756041   7081250
...               ...        ...        ...        ...       ...
2016-12-27  15.980343  16.051744  15.516239  15.654578   7021431
2016-12-28  15.663503  15.708128  15.315425  15.636728   8481796
2016-12-29  15.377900  15.534089  15.190474  15.270800   6961426
2016-12-30  15.270800  15.409138  15.016435  15.395751   6363894
2017-01-02  15.351125  15.828617  15.302037  15.659040   5657913

[254 rows x 5 columns]

Block 4:
                 Open       High        Low      Close    Volume
Date
2017-01-03  15.685816  15.962493  15.266337  15.810767  15509039
2017-01-04  15.931255  16.319496  15.926792  16.297182  14429132
2017-01-05  16.422134  16.743437  16.016043  16.167768  15983433
2017-01-06  16.176695  16.350733  16.038357  16.350733  11183917
2017-01-09  16.234709  16.364120  15.931255  16.154383   9424443
...               ...        ...        ...        ...       ...
2017-12-20  16.860001  16.950001  16.605000  16.639999  10210189
2017-12-21  16.600000  16.625000  16.305000  16.520000  12023710
2017-12-22  16.500000  16.590000  16.315001  16.315001   8687316
2017-12-27  16.270000  16.350000  16.065001  16.070000   7066492
2017-12-28  16.000000  16.120001  15.890000  15.940000   6956824

[253 rows x 5 columns]

Block 5:
              Open       High     Low      Close    Volume
Date
2017-12-29  15.965  15.980000  15.825  15.875000   5592819
2018-01-02  16.034  16.087999  15.780  15.958000  12548973
2018-01-03  16.070  16.077999  15.812  15.910000  15445581
2018-01-04  15.970  16.358000  15.884  16.332001  17568313
2018-01-05  16.400  16.455999  15.432  15.490000  33995534
...            ...        ...     ...        ...       ...
2018-12-19   7.701   7.785000   7.515   7.530000  11792807
2018-12-20   7.400   7.400000   6.994   7.000000  28220174
2018-12-21   7.000   7.100000   6.842   7.042000  38586144
2018-12-27   7.100   7.130000   6.678   6.750000  17761385
2018-12-28   6.810   7.009000   6.781   6.967000   9429341

[253 rows x 5 columns]

Symbol: VOW3.DE
Block 1:
                  Open        High         Low       Close   Volume
Date
2014-01-02  204.850006  205.000000  199.649994  200.500000  1112625
2014-01-03  200.750000  201.550003  199.850006  200.500000   651593
2014-01-06  200.149994  200.800003  197.050003  198.750000   571867
2014-01-07  198.949997  200.750000  197.500000  200.000000   582459
2014-01-08  200.199997  200.399994  198.699997  200.149994   470813
...                ...         ...         ...         ...      ...
2014-12-23  185.800003  187.100006  185.050003  187.100006   370236
2014-12-29  186.399994  187.500000  183.649994  186.600006   491355
2014-12-30  185.300003  186.149994  184.500000  184.649994   301393
2015-01-02  184.500000  185.500000  180.600006  182.500000   641902
2015-01-05  181.199997  181.399994  175.500000  176.300003  1135396

[254 rows x 5 columns]

Block 2:
                  Open        High         Low       Close   Volume
Date
2015-01-06  177.000000  180.199997  174.300003  177.399994  1030867
2015-01-07  178.800003  180.300003  176.850006  178.500000   692227
2015-01-08  180.649994  184.699997  179.000000  183.850006   976784
2015-01-09  183.000000  185.000000  179.699997  180.899994   998624
2015-01-12  179.949997  182.300003  177.800003  181.750000  1132994
...                ...         ...         ...         ...      ...
2015-12-28  135.300003  135.899994  133.000000  133.149994   618649
2015-12-29  134.399994  135.399994  133.100006  135.350006   743821
2015-12-30  135.449997  135.449997  133.550003  133.750000   490476
2016-01-04  130.000000  130.100006  126.050003  126.400002  1844847
2016-01-05  125.000000  125.900002  117.599998  121.400002  3018418

[254 rows x 5 columns]

Block 3:
                  Open        High         Low       Close   Volume
Date
2016-01-06  121.949997  123.699997  115.900002  118.900002  2003639
2016-01-07  114.500000  115.250000  111.500000  115.000000  2420461
2016-01-08  116.000000  119.449997  114.599998  115.099998  1645496
2016-01-11  116.250000  121.800003  115.599998  117.050003  1796731
2016-01-12  118.150002  123.500000  118.050003  120.949997  1612308
...                ...         ...         ...         ...      ...
2016-12-27  137.550003  138.949997  136.899994  137.250000   642322
2016-12-28  136.949997  137.750000  136.500000  136.600006   634302
2016-12-29  135.500000  135.500000  133.300003  133.500000  1189830
2016-12-30  133.300003  133.500000  132.149994  133.350006   555735
2017-01-02  132.699997  138.350006  132.300003  137.750000   947388

[254 rows x 5 columns]

Block 4:
                  Open        High         Low       Close   Volume
Date
2017-01-03  138.949997  143.100006  138.949997  140.449997  2065730
2017-01-04  141.250000  142.300003  136.649994  138.750000  1570153
2017-01-05  137.600006  140.000000  136.800003  139.100006   984929
2017-01-06  138.500000  139.199997  137.949997  139.000000   795889
2017-01-09  140.000000  145.949997  139.800003  145.850006  2936933
...                ...         ...         ...         ...      ...
2017-12-20  172.949997  173.250000  169.449997  169.699997   884744
2017-12-21  169.699997  171.149994  169.350006  170.250000   620997
2017-12-22  170.000000  170.449997  168.399994  169.000000   511508
2017-12-27  169.000000  170.500000  167.149994  167.649994   613251
2017-12-28  167.699997  168.300003  167.199997  167.500000   422703

[253 rows x 5 columns]

Block 5:
                  Open        High         Low       Close   Volume
Date
2017-12-29  167.800003  168.199997  166.100006  166.449997   446048
2018-01-02  166.800003  167.119995  161.479996  165.699997  1319104
2018-01-03  166.500000  171.940002  166.179993  171.440002  1426451
2018-01-04  172.500000  174.839996  171.279999  174.440002  1564533
2018-01-05  176.500000  179.679993  176.300003  179.199997  2195933
...                ...         ...         ...         ...      ...
2018-12-19  146.679993  148.839996  146.419998  146.880005   986274
2018-12-20  145.000000  145.639999  143.100006  143.899994  1328154
2018-12-21  142.479996  146.740005  141.119995  143.300003  2650052
2018-12-27  143.380005  143.500000  136.279999  137.440002  1608052
2018-12-28  138.399994  140.080002  138.000000  138.919998   614699

[253 rows x 5 columns]

Symbol: BMW.DE
Block 1:
                 Open       High        Low      Close   Volume
Date
2014-01-02  85.900002  86.099998  83.379997  83.540001  1499492
2014-01-03  83.629997  84.510002  83.349998  83.980003   826285
2014-01-06  84.000000  84.529999  82.870003  82.989998   987242
2014-01-07  83.099998  84.010002  82.410004  83.550003  1231698
2014-01-08  83.820000  84.660004  83.730003  84.449997  1435898
...               ...        ...        ...        ...      ...
2014-12-23  90.190002  90.830002  89.739998  90.830002   786728
2014-12-29  90.800003  91.070000  89.059998  91.010002   759811
2014-12-30  90.699997  90.790001  89.599998  89.769997   599968
2015-01-02  88.599998  89.589996  87.379997  88.010002  1532820
2015-01-05  87.180000  87.230003  84.550003  85.080002  2308143

[254 rows x 5 columns]

Block 2:
                 Open       High        Low      Close   Volume
Date
2015-01-06  85.800003  87.120003  84.550003  85.830002  1841589
2015-01-07  86.400002  87.050003  85.269997  86.290001  1239393
2015-01-08  87.519997  89.870003  86.879997  89.389999  1837539
2015-01-09  89.000000  90.050003  87.480003  88.160004  1976705
2015-01-12  88.000000  89.169998  87.129997  88.650002  1932427
...               ...        ...        ...        ...      ...
2015-12-28  98.879997  99.080002  97.099998  97.349998   372209
2015-12-29  98.160004  98.989998  97.599998  98.559998   565467
2015-12-30  98.500000  98.500000  97.570000  97.629997   431934
2016-01-04  94.709999  94.709999  91.760002  92.250000  2376296
2016-01-05  93.419998  93.500000  90.629997  91.820000  1533191

[254 rows x 5 columns]

Block 3:
                 Open       High        Low      Close   Volume
Date
2016-01-06  91.000000  91.000000  87.139999  88.779999  2301978
2016-01-07  85.300003  86.000000  83.519997  85.440002  2812427
2016-01-08  86.160004  87.139999  83.410004  83.440002  1969156
2016-01-11  83.110001  85.589996  82.879997  83.139999  1832479
2016-01-12  83.599998  86.500000  83.269997  84.849998  1766974
...               ...        ...        ...        ...      ...
2016-12-27  89.839996  90.180000  89.459999  89.699997   483756
2016-12-28  89.709999  90.209999  89.550003  89.849998   554383
2016-12-29  89.010002  89.199997  88.040001  88.519997  1068188
2016-12-30  88.419998  88.889999  87.510002  88.750000   760809
2017-01-02  88.339996  90.269997  87.809998  89.980003   774391

[254 rows x 5 columns]

Block 4:
                 Open       High        Low      Close   Volume
Date
2017-01-03  90.500000  91.760002  90.489998  90.830002  1514253
2017-01-04  91.019997  91.570000  89.300003  90.180000  1224694
2017-01-05  89.500000  90.589996  89.480003  90.339996   967699
2017-01-06  90.320000  90.699997  89.809998  90.510002   969606
2017-01-09  90.790001  90.790001  89.309998  89.830002  1413820
...               ...        ...        ...        ...      ...
2017-12-20  87.279999  87.540001  86.510002  86.930000  1292879
2017-12-21  86.930000  88.050003  86.820000  87.839996  1500394
2017-12-22  87.709999  87.709999  86.989998  87.519997   954800
2017-12-27  87.860001  88.220001  87.250000  87.260002   593335
2017-12-28  87.400002  87.400002  86.900002  87.139999   750441

[253 rows x 5 columns]

Block 5:
                 Open       High        Low      Close   Volume
Date
2017-12-29  87.410004  87.410004  86.750000  86.830002   726308
2018-01-02  86.769997  86.820000  83.879997  86.400002  2673332
2018-01-03  87.000000  87.360001  86.459999  86.860001  1396762
2018-01-04  87.800003  88.339996  87.379997  87.480003  1872794
2018-01-05  87.000000  88.739998  87.000000  88.500000  1911027
...               ...        ...        ...        ...      ...
2018-12-19  73.739998  74.300003  73.410004  73.449997  1582367
2018-12-20  72.739998  72.900002  71.650002  71.839996  2950979
2018-12-21  71.419998  72.040001  70.230003  71.930000  4978117
2018-12-27  71.779999  72.160004  69.120003  69.860001  1828170
2018-12-28  70.349998  70.760002  70.209999  70.699997  1031948

[253 rows x 5 columns]

Symbol: ADS.DE
Block 1:
                 Open       High        Low      Close   Volume
Date
2014-01-02  92.879997  93.220001  91.139999  91.400002   801548
2014-01-03  91.389999  91.580002  90.470001  91.220001   613843
2014-01-06  91.209999  91.489998  90.910004  91.169998   475794
2014-01-07  91.059998  91.330002  90.230003  91.070000   650288
2014-01-08  91.360001  91.510002  90.389999  90.610001   593016
...               ...        ...        ...        ...      ...
2014-12-23  57.000000  57.070000  56.529999  56.740002   843118
2014-12-29  56.520000  56.900002  56.349998  56.669998   726882
2014-12-30  56.299999  57.619999  56.000000  57.619999   848830
2015-01-02  57.720001  57.860001  56.250000  56.419998   964265
2015-01-05  56.270000  56.799999  54.700001  54.750000  1567689

[254 rows x 5 columns]

Block 2:
                 Open       High        Low      Close   Volume
Date
2015-01-06  54.590000  55.430000  53.799999  54.610001  1281126
2015-01-07  55.000000  55.380001  54.619999  55.160000  1111281
2015-01-08  55.650002  57.180000  55.630001  56.980000  1283112
2015-01-09  56.750000  57.650002  56.529999  56.820000  1538929
2015-01-12  56.619999  57.160000  55.930000  56.590000   900223
...               ...        ...        ...        ...      ...
2015-12-28  89.970001  90.169998  88.570000  89.089996   377193
2015-12-29  89.790001  91.510002  89.519997  91.510002   598980
2015-12-30  91.250000  91.250000  89.730003  89.910004   404350
2016-01-04  88.120003  88.260002  86.089996  87.540001  1266864
2016-01-05  88.410004  88.989998  86.540001  87.239998   699633

[254 rows x 5 columns]

Block 3:
                  Open        High         Low       Close   Volume
Date
2016-01-06   86.690002   86.690002   85.099998   86.230003   918625
2016-01-07   84.000000   85.330002   83.230003   84.889999  1233896
2016-01-08   84.980003   85.489998   83.339996   83.449997  1154585
2016-01-11   82.680000   86.129997   82.089996   85.260002  1256563
2016-01-12   85.360001   87.430000   85.150002   86.290001   843200
...                ...         ...         ...         ...      ...
2016-12-27  144.500000  145.600006  144.500000  145.550003   180959
2016-12-28  145.250000  147.250000  144.949997  147.250000   296572
2016-12-29  146.699997  148.199997  146.399994  147.949997   249780
2016-12-30  148.000000  150.149994  147.550003  150.149994   429338
2017-01-02  149.750000  151.949997  149.350006  151.300003   445138

[254 rows x 5 columns]

Block 4:
                  Open        High         Low       Close  Volume
Date
2017-01-03  150.899994  151.050003  148.800003  149.250000  641172
2017-01-04  149.399994  149.399994  146.350006  146.399994  618563
2017-01-05  145.250000  145.800003  143.500000  144.300003  739147
2017-01-06  143.800003  145.050003  142.949997  144.800003  641054
2017-01-09  145.100006  145.399994  144.149994  144.500000  583147
...                ...         ...         ...         ...     ...
2017-12-20  173.050003  173.149994  169.850006  170.250000  526915
2017-12-21  170.300003  171.199997  168.199997  169.699997  642033
2017-12-22  169.149994  170.649994  168.800003  169.399994  693943
2017-12-27  169.649994  171.100006  168.949997  169.949997  429614
2017-12-28  170.000000  170.500000  168.000000  168.350006  393977

[253 rows x 5 columns]


# Calculate the return for one year

In [12]:
# Dictionary for the increase/decrease per symbol
change_per_symbol = {}

for symbol, split_dfs in df_split.items():
    changes = []

    # Iterate over every block of the current symbol
    for df_block in split_dfs:
        # Extract the first and the lat close value of the current block
        first_close = df_block.iloc[0]['Close']
        last_close = df_block.iloc[-1]['Close']

        # Calculate the change of the close value
        change = (last_close - first_close + div.loc[symbol, 'Dividend']) / first_close * 100  # in Prozent
        print(symbol)
        print(div.loc[symbol, 'Dividend'])
        changes.append(change)

    # Save the Change for the current symbol
    change_per_symbol[symbol] = changes

# Output result
for symbol, changes in change_per_symbol.items():
    print(f"Symbol: {symbol}")
    for i, change in enumerate(changes):
        print(f"Block {i+1}: {change:.2f}%")
    print()

ALV.DE
9.0
ALV.DE
9.0
ALV.DE
9.0
ALV.DE
9.0
ALV.DE
9.0
DBK.DE
0.11
DBK.DE
0.11
DBK.DE
0.11
DBK.DE
0.11
DBK.DE
0.11
VOW3.DE
4.86
VOW3.DE
4.86
VOW3.DE
4.86
VOW3.DE
4.86
VOW3.DE
4.86
BMW.DE
3.5
BMW.DE
3.5
BMW.DE
3.5
BMW.DE
3.5
BMW.DE
3.5
ADS.DE
3.35
ADS.DE
3.35
ADS.DE
3.35
ADS.DE
3.35
ADS.DE
3.35
BEI.DE
0.7
BEI.DE
0.7
BEI.DE
0.7
BEI.DE
0.7
BEI.DE
0.7
DTE.SG
0.7
DTE.SG
0.7
DTE.SG
0.7
DTE.SG
0.7
DTE.SG
0.7
SAP.DE
1.5
SAP.DE
1.5
SAP.DE
1.5
SAP.DE
1.5
SAP.DE
1.5
1COV.DE
2.4
1COV.DE
2.4
1COV.DE
2.4
BAS.DE
3.2
BAS.DE
3.2
BAS.DE
3.2
BAS.DE
3.2
BAS.DE
3.2
EOAN.DE
0.43
EOAN.DE
0.43
EOAN.DE
0.43
EOAN.DE
0.43
EOAN.DE
0.43
RWE.DE
0.7
RWE.DE
0.7
RWE.DE
0.7
RWE.DE
0.7
RWE.DE
0.7
Symbol: ALV.DE
Block 1: 11.08%
Block 2: 23.97%
Block 3: 5.92%
Block 4: 26.76%
Block 5: -3.84%

Symbol: DBK.DE
Block 1: -25.12%
Block 2: -8.35%
Block 3: -18.26%
Block 4: 1.51%
Block 5: -55.42%

Symbol: VOW3.DE
Block 1: -9.65%
Block 2: -28.83%
Block 3: 19.94%
Block 4: 22.72%
Block 5: -13.62%

Symbol: BMW.DE
Block 1: 6.03%
Block 2: 11.06%
Block 3: 5.29%
Block 4: -0.21%
Block 5: -14.55%

Symbol: ADS.DE
Block 1: -36.43%
Block 2: 65.89%
Block 3: 79.35%
Block 4: 15.04%
Block 5: 11.13%

Symbol: BEI.DE
Block 1: -8.77%
Block 2: 24.87%
Block 3: 1.35%
Block 4: 21.22%
Block 5: -6.17%

Symbol: DTE.SG
Block 1: 14.85%
Block 2: 31.69%
Block 3: 5.92%
Block 4: -4.95%
Block 5: -2.69%

Symbol: SAP.DE
Block 1: -6.21%
Block 2: 32.43%
Block 3: 18.03%
Block 4: 15.08%
Block 5: -5.37%

Symbol: 1COV.DE
Block 1: 114.60%
Block 2: 58.95%
Block 3: -46.73%

Symbol: BAS.DE
Block 1: -8.47%
Block 2: 5.56%
Block 3: 39.07%
Block 4: 9.44%
Block 5: -30.67%

Symbol: EOAN.DE
Block 1: 5.51%
Block 2: -32.53%
Block 3: -5.24%
Block 4: 41.39%
Block 5: -0.04%

Symbol: RWE.DE
Block 1: -1.68%
Block 2: -51.41%
Block 3: 14.51%
Block 4: 46.93%
Block 5: 15.68%

# Calculate the mean return over the period of 4 years

In [13]:
# Dictionary for the mean return per symbol
average_return_per_symbol = {}

for symbol, changes in change_per_symbol.items():
    # Calculate the mean return for the current symbol
    average_return = sum(changes) / len(changes)
    average_return_per_symbol[symbol] = average_return

# Add Risk_Free symbol with risk_free_rate average return
average_return_per_symbol['Risk_Free'] = risk_free_rate    

# Output result
for symbol, avg_return in average_return_per_symbol.items():
    print(f"Durchschnittliche Rendite für {symbol}: {avg_return:.2f}%")
    
# Convert mean return to DataFrame
average_return_per_symbol_df = pd.DataFrame(list(average_return_per_symbol.items()), columns=['Symbol', 'Average_Return'])
print(average_return_per_symbol_df)

Durchschnittliche Rendite für ALV.DE: 12.78%
Durchschnittliche Rendite für DBK.DE: -21.13%
Durchschnittliche Rendite für VOW3.DE: -1.89%
Durchschnittliche Rendite für BMW.DE: 1.53%
Durchschnittliche Rendite für ADS.DE: 26.99%
Durchschnittliche Rendite für BEI.DE: 6.50%
Durchschnittliche Rendite für DTE.SG: 8.96%
Durchschnittliche Rendite für SAP.DE: 10.79%
Durchschnittliche Rendite für 1COV.DE: 42.27%
Durchschnittliche Rendite für BAS.DE: 2.99%
Durchschnittliche Rendite für EOAN.DE: 1.82%
Durchschnittliche Rendite für RWE.DE: 4.81%
Durchschnittliche Rendite für Risk_Free: 0.30%
       Symbol  Average_Return
0      ALV.DE       12.778761
1      DBK.DE      -21.126335
2     VOW3.DE       -1.886427
3      BMW.DE        1.525783
4      ADS.DE       26.993529
5      BEI.DE        6.500040
6      DTE.SG        8.964563
7      SAP.DE       10.791699
8     1COV.DE       42.274826
9      BAS.DE        2.986745
10    EOAN.DE        1.817033
11     RWE.DE        4.806770
12  Risk_Free        0.300000

In [14]:
# Dictionary for the standard deviation per symbol
standard_deviation_per_symbol = {}

for symbol, changes in change_per_symbol.items():
    
    # Calculate the difference to the power of 2
    squared_diff = [(change - average_return_per_symbol[symbol]) ** 2 for change in changes]
    
    # Sum up the differences
    sum_squared_diff = sum(squared_diff)

    # Calculate the standard deviation
    standard_deviation = np.sqrt(sum_squared_diff / (len(changes) - 1))
    
    # Save the standard deviation in the dictionary
    standard_deviation_per_symbol[symbol] = standard_deviation

# Add Risk_Free symbol with risk_free_rate average return
standard_deviation_per_symbol['Risk_Free'] = 0.0  

# Output result
for symbol, std_dev in standard_deviation_per_symbol.items():
    print(f"Standardabweichung für {symbol}: {std_dev:.2f}")
    
# Convert mean return to DataFrame
standard_deviation_per_symbol_df = pd.DataFrame(list(standard_deviation_per_symbol.items()), columns=['Symbol', 'Standard_Deviation'])
print(standard_deviation_per_symbol_df)

Standardabweichung für ALV.DE: 12.72
Standardabweichung für DBK.DE: 21.66
Standardabweichung für VOW3.DE: 22.39
Standardabweichung für BMW.DE: 9.83
Standardabweichung für ADS.DE: 46.56
Standardabweichung für BEI.DE: 15.61
Standardabweichung für DTE.SG: 14.92
Standardabweichung für SAP.DE: 16.50
Standardabweichung für 1COV.DE: 81.95
Standardabweichung für BAS.DE: 25.57
Standardabweichung für EOAN.DE: 26.51
Standardabweichung für RWE.DE: 36.02
Standardabweichung für Risk_Free: 0.00
       Symbol  Standard_Deviation
0      ALV.DE           12.717785
1      DBK.DE           21.656503
2     VOW3.DE           22.392023
3      BMW.DE            9.831779
4      ADS.DE           46.558759
5      BEI.DE           15.605312
6      DTE.SG           14.915638
7      SAP.DE           16.502918
8     1COV.DE           81.947789
9      BAS.DE           25.567918
10    EOAN.DE           26.514237
11     RWE.DE           36.018191
12  Risk_Free            0.000000

# Historic data from 2018 for the covarianz matrix

In [15]:
# Definition of the time period
start_date2018 = '2018-01-01'
end_date2018 = '2018-12-31'
print(end_date2018)
# Load and store the data for every symbol (share)
for symbol in stock_symbols:
    output_file = f'stock_data_{symbol}_2018.csv'
    download_stock_data(symbol, start_date2018, end_date2018, output_file)

    # Search and delete empty rows in the CSV file
    with open(output_file, 'r') as file:
        lines = file.readlines()

    # Filter the empty rows
    lines = [line.strip() for line in lines if line.strip()]

    # Overwrite the file with the cleaned rows
    with open(output_file, 'w') as file:
        file.write('\n'.join(lines))

2018-12-31

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

# Combine historical data to one file

In [16]:
# Data frame for the combined data
combined_historical2018_data = pd.DataFrame()

# load and combine the data for each share
for symbol in stock_symbols:
    # file name for the csv file
    csv_file = f'stock_data_{symbol}_2018.csv'
    
    # read CSV file and set date to index
    df = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
    
    # change name of the close column
    df.rename(columns={'Close': symbol}, inplace=True)
    
    # write data to the combined file
    combined_historical2018_data = pd.concat([combined_historical2018_data, df[symbol]], axis=1)

# drop rows with NaN values
combined_historical2018_data.dropna(inplace=True)

# Initialize the initial and final values for "Risk_Free"
risk_free_initial = 100
risk_free_final = 100 + risk_free_rate

# Create a series for "Risk_Free" with increasing values
risk_free_values = np.linspace(risk_free_initial, risk_free_final, len(combined_historical2018_data))

# Add the "Risk_Free" series to the DataFrame
combined_historical2018_data['Risk_Free'] = risk_free_values

# create a CSV file for the data
combined_historical2018_data.to_csv('combined_historical2018_stock_data.csv')

print(combined_historical2018_data)

                ALV.DE     DBK.DE     VOW3.DE     BMW.DE      ADS.DE  \
2018-01-02  192.699997  15.958000  165.699997  86.400002  167.149994
2018-01-03  193.000000  15.910000  171.440002  86.860001  168.050003
2018-01-04  195.500000  16.332001  174.440002  87.480003  170.250000
2018-01-05  198.559998  15.490000  179.199997  88.500000  172.050003
2018-01-08  198.860001  15.340000  179.839996  89.669998  172.750000
...                ...        ...         ...        ...         ...
2018-12-19  175.940002   7.530000  146.880005  73.449997  187.050003
2018-12-20  174.960007   7.000000  143.899994  71.839996  183.750000
2018-12-21  175.020004   7.042000  143.300003  71.930000  184.750000
2018-12-27  172.160004   6.750000  137.440002  69.860001  180.100006
2018-12-28  175.139999   6.967000  138.919998  70.699997  182.399994

                BEI.DE  DTE.SG     SAP.DE    1COV.DE     BAS.DE  EOAN.DE  \
2018-01-02   96.199997  14.872  92.800003  85.639999  91.309998    9.078
2018-01-03   96.680000  14.835  94.070000  86.760002  91.580002    9.086
2018-01-04   98.059998  14.890  95.089996  88.419998  93.550003    9.109
2018-01-05   99.279999  14.940  96.440002  88.300003  94.849998    9.237
2018-01-08  100.300003  15.040  96.269997  87.199997  95.010002    9.208
...                ...     ...        ...        ...        ...      ...
2018-12-19   93.059998  13.690  89.220001  43.150002  60.340000    8.965
2018-12-20   92.760002  13.690  87.769997  41.900002  59.750000    8.895
2018-12-21   92.739998  13.690  86.419998  43.279999  60.720001    8.864
2018-12-27   90.559998  13.690  85.790001  42.130001  59.669998    8.524
2018-12-28   91.160004  13.690  86.930000  43.180000  60.400002    8.627

               RWE.DE   Risk_Free
2018-01-02  17.299999  100.000000
2018-01-03  17.459999  100.001195
2018-01-04  17.465000  100.002390
2018-01-05  17.639999  100.003586
2018-01-08  17.780001  100.004781
...               ...         ...
2018-12-19  19.320000  100.295219
2018-12-20  19.155001  100.296414
2018-12-21  19.094999  100.297610
2018-12-27  18.490000  100.298805
2018-12-28  18.965000  100.300000

[252 rows x 13 columns]

# Mean-Variance Optimization

In [17]:
def mean_variance_optimization(expected_returns, standard_deviations, covariance_matrix):
    n = len(expected_returns)
    initial_weights = np.array([1/n] * n)  # Start value of the weighs
    bounds = [(0, 1)] * n  # Border of the weighs (0-100% for every symbol)

    # Minimize the negative sharpe ratio
    def negative_sharpe(weights, expected_returns, standard_deviations, covariance_matrix):
        portfolio_return = np.dot(weights, expected_returns)
        portfolio_volatility = np.sqrt(np.dot(weights.T, np.dot(covariance_matrix, weights)))
        return -portfolio_return / portfolio_volatility

    result = minimize(negative_sharpe, initial_weights, args=(expected_returns, standard_deviations, covariance_matrix), bounds=bounds, constraints={'type': 'eq', 'fun': lambda x: np.sum(x) - 1})
    return result.x

In [18]:
def allocate_portfolio(historical_data, initial_capital, expected_returns_df, standard_deviations_df):
    # Calculate expected returns based on the predictions
    expected_returns = expected_returns_df['Average_Return'].values
    
    # Calculate standard deviations based on the predictions
    standard_deviations = standard_deviations_df['Standard_Deviation'].values
    
    # Calculate the covariance matrix of the returns
    covariance_matrix = historical_data.cov()
           
    print(covariance_matrix)
    
    # Perform mean-variance optimization to obtain optimal weights
    optimal_weights = mean_variance_optimization(expected_returns, standard_deviations, covariance_matrix)

    # Calculate the allocation of assets based on the optimal weights and the available capital
    asset_allocation = initial_capital * optimal_weights

    return asset_allocation

In [19]:
initial_capital = 1000 # 1000€ start capital
portfolio_allocation = allocate_portfolio(combined_historical2018_data, initial_capital, average_return_per_symbol_df, standard_deviation_per_symbol_df)
print(portfolio_allocation)

              ALV.DE     DBK.DE     VOW3.DE     BMW.DE      ADS.DE     BEI.DE  \
ALV.DE     55.719135  11.832723   69.633719  29.543884  -14.913587   0.700969
DBK.DE     11.832723   4.459489   21.177797  10.619505  -14.403096  -0.613004
VOW3.DE    69.633719  21.177797  173.761508  68.923353  -60.940672  -4.044547
BMW.DE     29.543884  10.619505   68.923353  39.954812  -18.970997   3.151594
ADS.DE    -14.913587 -14.403096  -60.940672 -18.970997  151.098444   7.531624
BEI.DE      0.700969  -0.613004   -4.044547   3.151594    7.531624  13.783059
DTE.SG      1.824277   0.309639    1.939910   0.824193   -0.172976   0.808876
SAP.DE     -7.402701  -4.671514  -35.207519  -7.149319   32.796906  19.146100
1COV.DE    52.288467  23.954566  105.094400  71.570572  -67.992106   6.309557
BAS.DE     38.744048  16.118842   87.074221  52.709029  -45.541645   8.408377
EOAN.DE    -0.464208  -0.189888   -0.824805   0.054390    0.739193   0.973982
RWE.DE     -3.476472  -1.526798   -8.780525  -0.837524   12.000983   3.544523
Risk_Free  -0.340121  -0.166217   -0.886312  -0.478713    0.610753   0.032232

             DTE.SG     SAP.DE     1COV.DE      BAS.DE   EOAN.DE     RWE.DE  \
ALV.DE     1.824277  -7.402701   52.288467   38.744048 -0.464208  -3.476472
DBK.DE     0.309639  -4.671514   23.954566   16.118842 -0.189888  -1.526798
VOW3.DE    1.939910 -35.207519  105.094400   87.074221 -0.824805  -8.780525
BMW.DE     0.824193  -7.149319   71.570572   52.709029  0.054390  -0.837524
ADS.DE    -0.172976  32.796906  -67.992106  -45.541645  0.739193  12.000983
BEI.DE     0.808876  19.146100    6.309557    8.408377  0.973982   3.544523
DTE.SG     0.198389   0.834733    0.693465    1.019659  0.067218   0.111936
SAP.DE     0.834733  44.670337   -6.385302   -0.211170  1.454609   7.296233
1COV.DE    0.693465  -6.385302  180.100895  116.884637  0.008611  -2.597430
BAS.DE     1.019659  -0.211170  116.884637   84.464655  0.339613  -1.286976
EOAN.DE    0.067218   1.454609    0.008611    0.339613  0.171556   0.591420
RWE.DE     0.111936   7.296233   -2.597430   -1.286976  0.591420   3.377908
Risk_Free -0.003860   0.219907   -1.058200   -0.726642  0.005275   0.052361

           Risk_Free
ALV.DE     -0.340121
DBK.DE     -0.166217
VOW3.DE    -0.886312
BMW.DE     -0.478713
ADS.DE      0.610753
BEI.DE      0.032232
DTE.SG     -0.003860
SAP.DE      0.219907
1COV.DE    -1.058200
BAS.DE     -0.726642
EOAN.DE     0.005275
RWE.DE      0.052361
Risk_Free   0.007590
[2.03467492e-05 1.35364988e-11 4.67781826e-01 7.38096790e-11
 0.00000000e+00 1.96200590e-05 8.85112229e+01 3.95210060e-05
 5.19485309e+00 3.00695003e-06 2.11641043e-10 1.16501190e-10
 9.05826096e+02]

In [20]:
# Initialisation of the portfolio
portfolio_value = 0
# initialize the list for the quantity of the shares, which have to be purchased
shares_to_buy_list = []
# Purchase the shares based on the allocations
for i, allocation in enumerate(portfolio_allocation):
    # Calculate the quantity of the shares, which should be purchased with this allocation
    shares_to_buy = (allocation) / combined_data_begin['Close_Value'][i]
    shares_to_buy_list.append(shares_to_buy)
    print(shares_to_buy)

    # Calculate the value of the stock of the purchased shares
    value_of_stock = shares_to_buy * combined_data_begin['Close_Value'][i]
    print(value_of_stock)
    
    # Add the value of the purchased share to the portfolio
    portfolio_value += value_of_stock
    print(portfolio_value)
    print("-----------------------------")

# Output of the total value of the portfolio at the end of the period to be predicted
print("Gesamtwert des Portfolios am Ende des ersten Monats von 2019:", portfolio_value)
print(shares_to_buy_list)

1.1617419926067725e-07
2.0346749187607908e-05
2.0346749187607908e-05
-----------------------------
1.9429451427834844e-12
1.353649882459603e-11
2.0346762724106734e-05
-----------------------------
0.003367274921447624
0.46778182592183937
0.4678021726845635
-----------------------------
1.0439841893017589e-12
7.380967899764745e-11
0.46780217275837316
-----------------------------
0.0
0.0
0.46780217275837316
-----------------------------
2.15226614334514e-07
1.96200589509177e-05
0.46782179281732406
-----------------------------
6.465392667261758
88.51122290182674
88.97904469464406
-----------------------------
4.546302300782913e-07
3.9521006039448e-05
88.9790842156501
-----------------------------
0.1203069258223303
5.194853093722982
94.17393730937309
-----------------------------
4.9783939578877346e-08
3.006950026528455e-06
94.17394031632311
-----------------------------
2.4532403693215245e-11
2.1164104310518756e-10
94.17394031653475
-----------------------------
6.1429574921683465e-12
1.1650118977631363e-10
94.17394031665125
-----------------------------
9.058260956379813
905.8260956379813
1000.0000359546326
-----------------------------
Gesamtwert des Portfolios am Ende des ersten Monats von 2019: 1000.0000359546326
[1.1617419926067725e-07, 1.9429451427834844e-12, 0.003367274921447624, 1.0439841893017589e-12, 0.0, 2.15226614334514e-07, 6.465392667261758, 4.546302300782913e-07, 0.1203069258223303, 4.9783939578877346e-08, 2.4532403693215245e-11, 6.1429574921683465e-12, 9.058260956379813]

In [21]:
# Define portfolio value
new_portfolio_value = 0
# Loop over the indices of the two lists
for i in range(len(shares_to_buy_list)):
    # convert to float
    last_close_value = float(last_close_values[i][1])
    print(last_close_value)
    print(shares_to_buy_list[i])
    #Calculate the new value of the share and add the value to the list
    new_portfolio_value += (last_close_value * shares_to_buy_list[i])
    print(new_portfolio_value)
    print("----------------------------")

print("Wert des Portfolios:")
print(new_portfolio_value)

218.3999938964844
1.1617419926067725e-07
2.5372444409460875e-05
----------------------------
6.916999816894531
1.9429451427834844e-12
2.5372457848812073e-05
----------------------------
176.24000549316406
0.003367274921447624
0.5934739231107716
----------------------------
73.13999938964844
1.0439841893017589e-12
0.5934739231871287
----------------------------
289.79998779296875
0.0
0.5934739231871287
----------------------------
106.6500015258789
2.15226614334514e-07
0.5934968771058758
----------------------------
13.6899995803833
6.465392667261758
89.10471977893262
----------------------------
120.31999969482422
4.546302300782913e-07
89.10477448004177
----------------------------
41.45000076293945
0.1203069258223303
94.09149664716426
----------------------------
67.3499984741211
4.9783939578877346e-08
94.09150000011252
----------------------------
9.52400016784668
2.4532403693215245e-11
94.09150000034616
----------------------------
27.350000381469727
6.1429574921683465e-12
94.09150000051417
----------------------------
100.3
9.058260956379813
1002.6350739254094
----------------------------
Wert des Portfolios:
1002.6350739254094