# Import

In [1]:
from keras.models import load_model
from keras.models import Model
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import tensorflow as tf
from sklearn.metrics import mean_squared_error
import keras
import yfinance as yf
from matplotlib.backends.backend_pdf import PdfPages
import pickle
import json
from scipy.optimize import minimize
from datetime import datetime, timedelta
import math

# Download stock data

In [2]:
def download_stock_data(stock_symbols, start_date, end_date, output_file):
    with open(output_file, 'w') as f:
        # write column headings
        f.write('Date,Open,High,Low,Close,Volume\n')
        
        #for symbol in stock_symbols:
            # load share data for the symbol (Share name) and the given time period
        stock_data = yf.download(symbol, start=start_date, end=end_date)
        stock_data = stock_data[['Open', 'High', 'Low', 'Close', 'Volume']]  # Auswahl der gewünschten Spalten
        stock_data.to_csv(f, header=False)  # Schreiben der Daten in die Datei

In [3]:
# Enter symbols
stock_symbols = ['ALV.DE', 'DBK.DE', 'VOW3.DE', 'BMW.DE', 'ADS.DE', 'BEI.DE', 'DTE.SG', 'SAP.DE', '1COV.DE', 'BAS.DE', 'EOAN.DE', 'RWE.DE']
start_date = '2014-01-01'
end_date = '2018-12-31'

# load and store the data for every share
for symbol in stock_symbols:
    output_file = f'stock_data_{symbol}.csv'
    download_stock_data(symbol, start_date, end_date, output_file)

    # read CSV and select select the desired columns
    df = pd.read_csv(output_file, usecols=['Date', 'Open', 'High', 'Low', 'Close', 'Volume'])
    
    # Search CSV file for empty lines and remove them
    with open(output_file, 'r') as file:
        lines = file.readlines()

    # filter the empty lines
    lines = [line.strip() for line in lines if line.strip()]

    # Overwrite the file with the adjusted rows
    with open(output_file, 'w') as file:
        file.write('\n'.join(lines))

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [4]:
# store the data frames for different symbols in the dictionary
dfPre = {}

for symbol in stock_symbols:
    # load CSV
    dfPre[symbol] = pd.read_csv(f'stock_data_{symbol}.csv')

    # Drop empty rows
    dfPre[symbol].dropna(inplace=True)

    # transform date to index
    dfPre[symbol].set_index('Date', inplace=True)

    # Check the number of rows
    num_rows = dfPre[symbol].shape[0]

In [5]:
# Check missing values
missing_values_beforePre = {symbol: dfPre[symbol].isnull().values.any() for symbol in stock_symbols}

# missing values are replaced with teh mean of the row before and after the actual row
for symbol in stock_symbols:
    for column in dfPre[symbol].columns:
        missing_valuesPre = dfPre[symbol][column].isnull()
        dfPre[symbol].loc[missing_valuesPre, column] = (dfPre[symbol][column].shift() + dfPre[symbol][column].shift(-1)) / 2

# Check if there are still any missing values 
missing_values_afterPre = {symbol: dfPre[symbol].isnull().values.any() for symbol in stock_symbols}

# Output of the missing values before and after the Treatment
for symbol in stock_symbols:
    print(f"Fehlende Werte vor der Behandlung für {symbol} gefunden:", missing_values_beforePre[symbol])
    print(f"Fehlende Werte nach der Behandlung für {symbol} gefunden:", missing_values_afterPre[symbol])

# Output of the length of the data frame for all symbols
for symbol in stock_symbols:
    print(f"Länge des Datensatzes für {symbol}:", len(dfPre[symbol]))

Fehlende Werte vor der Behandlung für ALV.DE gefunden: False
Fehlende Werte nach der Behandlung für ALV.DE gefunden: False
Fehlende Werte vor der Behandlung für DBK.DE gefunden: False
Fehlende Werte nach der Behandlung für DBK.DE gefunden: False
Fehlende Werte vor der Behandlung für VOW3.DE gefunden: False
Fehlende Werte nach der Behandlung für VOW3.DE gefunden: False
Fehlende Werte vor der Behandlung für BMW.DE gefunden: False
Fehlende Werte nach der Behandlung für BMW.DE gefunden: False
Fehlende Werte vor der Behandlung für ADS.DE gefunden: False
Fehlende Werte nach der Behandlung für ADS.DE gefunden: False
Fehlende Werte vor der Behandlung für BEI.DE gefunden: False
Fehlende Werte nach der Behandlung für BEI.DE gefunden: False
Fehlende Werte vor der Behandlung für DTE.SG gefunden: False
Fehlende Werte nach der Behandlung für DTE.SG gefunden: False
Fehlende Werte vor der Behandlung für SAP.DE gefunden: False
Fehlende Werte nach der Behandlung für SAP.DE gefunden: False
Fehlende Werte vor der Behandlung für 1COV.DE gefunden: False
Fehlende Werte nach der Behandlung für 1COV.DE gefunden: False
Fehlende Werte vor der Behandlung für BAS.DE gefunden: False
Fehlende Werte nach der Behandlung für BAS.DE gefunden: False
Fehlende Werte vor der Behandlung für EOAN.DE gefunden: False
Fehlende Werte nach der Behandlung für EOAN.DE gefunden: False
Fehlende Werte vor der Behandlung für RWE.DE gefunden: False
Fehlende Werte nach der Behandlung für RWE.DE gefunden: False
Länge des Datensatzes für ALV.DE: 2285
Länge des Datensatzes für DBK.DE: 2285
Länge des Datensatzes für VOW3.DE: 2285
Länge des Datensatzes für BMW.DE: 2285
Länge des Datensatzes für ADS.DE: 2285
Länge des Datensatzes für BEI.DE: 2285
Länge des Datensatzes für DTE.SG: 2286
Länge des Datensatzes für SAP.DE: 2285
Länge des Datensatzes für 1COV.DE: 1840
Länge des Datensatzes für BAS.DE: 2285
Länge des Datensatzes für EOAN.DE: 2285
Länge des Datensatzes für RWE.DE: 2285

# Read close values at the begin of the time period

In [6]:
# Definition of the time period
# convert in to datetime objekt to substract days for the last day before this period
start_date_obj = datetime.strptime(end_date, '%Y-%m-%d')
end_date_obj = datetime.strptime(end_date, '%Y-%m-%d')
# Substract 5 days for the new start_date and 1 day for the new end_date
# In the next block the last date will be extracted 
new_start_date = start_date_obj - timedelta(days=5)
new_end_date = end_date_obj

print(new_start_date)
print(new_end_date)

# Load and store the data for every symbol (share)
for symbol in stock_symbols:
    output_file = f'stock_data_begin{symbol}.csv'
    download_stock_data(symbol, new_start_date, new_end_date, output_file)

    # Search and delete empty rows in the CSV file
    with open(output_file, 'r') as file:
        lines = file.readlines()

    # Filter the empty rows
    lines = [line.strip() for line in lines if line.strip()]

    # Overwrite the file with the cleaned data
    with open(output_file, 'w') as file:
        file.write('\n'.join(lines))

[*********************100%%**********************]  1 of 1 completed

2022-12-25
2022-12-31

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [7]:
# create data frame for the collected data 
combined_data_begin = pd.DataFrame(columns=['Symbol', 'Close_Value'])

# load and store the data for every symbol (share)
for symbol in stock_symbols:
    output_file = f'stock_data_begin{symbol}.csv'
    # read CSV file 
    df = pd.read_csv(output_file)

    # Select the last row only
    last_row = df.tail(1)

     # Write symbol and close value to the data frame
    data = {'Symbol': symbol, 'Close_Value': last_row['Close'].iloc[0]}
    combined_data_begin = pd.concat([combined_data_begin, pd.DataFrame(data, index=[0])], ignore_index=True)

print(combined_data_begin)

     Symbol  Close_Value
0    ALV.DE   200.899994
1    DBK.DE    10.588000
2   VOW3.DE   116.419998
3    BMW.DE    83.379997
4    ADS.DE   127.459999
5    BEI.DE   107.199997
6    DTE.SG    18.700001
7    SAP.DE    96.389999
8   1COV.DE    36.549999
9    BAS.DE    46.389999
10  EOAN.DE     9.334000
11   RWE.DE    41.590000

# load share value from 2019

In [8]:
start_date = '2019-12-01'
end_date = '2019-12-31'
print(f'Startdatum: {start_date}, Enddatum: {end_date}')
# Load and store the symbols for every symbol (share)
for symbol in stock_symbols:
    output_file = f'stock_data_{symbol}_2019.csv'
    download_stock_data(symbol, start_date, end_date, output_file)

    # search and delete for empty rows in the CSV 
    with open(output_file, 'r') as file:
        lines = file.readlines()

    # Filter the empty rows
    lines = [line.strip() for line in lines if line.strip()]

    # Overwrite the file with the cleaned rows
    with open(output_file, 'w') as file:
        file.write('\n'.join(lines))

[*********************100%%**********************]  1 of 1 completed

Startdatum: 2023-12-01, Enddatum: 2023-12-31

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [9]:
# list for the las close value of the shares
last_close_values = []

# load for each symbol
for symbol in stock_symbols:
    # file name of the csv data
    csv_file = f'stock_data_{symbol}_2019.csv'
    
    # load CSV data
    df = pd.read_csv(csv_file)
    
    # set date as index
    df.set_index('Date', inplace=True)
    
    # collect just the last close value and write it to the list
    last_close_value = df['Close'].iloc[-1]
    last_close_values.append((symbol, last_close_value))
print(last_close_values[0][1])
# print the list
print("Liste der letzten Close-Werte:")
for symbol, last_close_value in last_close_values:
    print(f"{symbol}: {last_close_value}")

241.9499969482422
Liste der letzten Close-Werte:
ALV.DE: 241.9499969482422
DBK.DE: 12.36400032043457
VOW3.DE: 111.8000030517578
BMW.DE: 100.77999877929688
ADS.DE: 184.16000366210935
BEI.DE: 135.6999969482422
DTE.SG: 21.690000534057617
SAP.DE: 139.47999572753906
1COV.DE: 52.68000030517578
BAS.DE: 48.77999877929688
EOAN.DE: 12.149999618530272
RWE.DE: 41.18000030517578

# Split into blocks of 20 (20 business days per month)

In [10]:
# Dictionary for the splitted data
df_split = {}

# Quantity of the blocks per symbol
block_size = 252

for symbol, df in dfPre.items():
    # Quantity of the rows in the data frame
    num_rows = len(df)

    # Split the data frame in to blocks
    split_dfs = np.array_split(df, num_rows // block_size)

    # Add the solited blocks to the dictionary
    df_split[symbol] = split_dfs

# Output result
for symbol, split_dfs in df_split.items():
    print(f"Symbol: {symbol}")
    for i, df_block in enumerate(split_dfs):
        print(f"Block {i+1}:")
        print(df_block)
        print()

Symbol: ALV.DE
Block 1:
                  Open        High         Low       Close   Volume
Date
2014-01-02  130.949997  131.399994  127.849998  128.149994  1524683
2014-01-03  128.000000  128.449997  127.150002  127.900002   853713
2014-01-06  127.650002  128.800003  127.599998  128.399994   900878
2014-01-07  128.350006  130.350006  128.149994  130.100006  1189652
2014-01-08  130.149994  130.149994  128.850006  129.399994  1214204
...                ...         ...         ...         ...      ...
2014-12-23  139.500000  140.000000  138.899994  139.699997  1040720
2014-12-29  139.000000  139.399994  137.050003  139.250000  1083568
2014-12-30  138.149994  138.300003  137.350006  137.350006   695403
2015-01-02  137.300003  137.850006  135.750000  136.699997  1494235
2015-01-05  136.500000  137.500000  133.149994  133.350006  2091329

[254 rows x 5 columns]

Block 2:
                  Open        High         Low       Close   Volume
Date
2015-01-06  133.800003  135.449997  132.600006  133.500000  1942283
2015-01-07  133.550003  135.500000  133.149994  134.750000  1639715
2015-01-08  136.000000  138.699997  135.149994  138.300003  2182730
2015-01-09  137.899994  138.399994  134.750000  135.850006  2042597
2015-01-12  136.149994  137.800003  134.899994  136.600006  1490200
...                ...         ...         ...         ...      ...
2015-12-28  163.449997  163.449997  161.250000  161.500000   580208
2015-12-29  162.899994  165.000000  162.600006  165.000000   969487
2015-12-30  165.000000  165.300003  163.550003  163.550003   657147
2016-01-04  160.149994  160.149994  155.500000  156.000000  2742295
2016-01-05  158.000000  158.399994  154.300003  156.500000  1521606

[254 rows x 5 columns]

Block 3:
                  Open        High         Low       Close   Volume
Date
2016-01-06  157.149994  158.149994  155.949997  157.000000  1686090
2016-01-07  153.149994  154.949997  151.550003  153.750000  2454430
2016-01-08  154.449997  156.000000  151.800003  151.800003  1847223
2016-01-11  151.000000  154.750000  150.800003  152.399994  1622793
2016-01-12  152.500000  155.750000  151.699997  154.300003  1619622
...                ...         ...         ...         ...      ...
2016-12-27  156.699997  157.000000  156.149994  156.850006   397154
2016-12-28  156.750000  157.149994  155.300003  156.399994   807792
2016-12-29  155.250000  156.199997  155.250000  155.899994   663670
2016-12-30  155.899994  157.000000  155.199997  157.000000   790505
2017-01-02  156.300003  157.500000  155.500000  157.300003   855478

[254 rows x 5 columns]

Block 4:
                  Open        High         Low       Close   Volume
Date
2017-01-03  158.000000  160.100006  157.550003  159.550003  1623857
2017-01-04  160.000000  160.949997  159.550003  160.399994  1221389
2017-01-05  161.000000  162.000000  159.600006  160.699997  1469189
2017-01-06  160.149994  161.500000  159.550003  161.100006   965147
2017-01-09  161.600006  161.649994  159.199997  160.300003   963965
...                ...         ...         ...         ...      ...
2017-12-21  195.500000  196.250000  194.449997  196.250000   981202
2017-12-22  195.449997  196.500000  194.699997  195.250000   737506
2017-12-27  194.899994  196.199997  193.850006  194.100006   624558
2017-12-28  194.250000  194.699997  192.949997  193.250000   742997
2017-12-29  193.399994  193.399994  189.300003  191.500000   982319

[254 rows x 5 columns]

Block 5:
                  Open        High         Low       Close   Volume
Date
2018-01-02  193.100006  193.360001  190.500000  192.699997  1479063
2018-01-03  193.960007  194.000000  191.580002  193.000000  1378661
2018-01-04  194.279999  196.720001  194.179993  195.500000  1551761
2018-01-05  196.199997  198.559998  195.839996  198.559998  1319824
2018-01-08  199.660004  200.000000  198.520004  198.860001   975348
...                ...         ...         ...         ...      ...
2018-12-21  174.600006  175.220001  173.699997  175.020004  3334380
2018-12-27  174.679993  174.779999  170.460007  172.160004  1214929
2018-12-28  172.800003  175.919998  172.479996  175.139999   792046
2019-01-02  175.500000  175.559998  171.960007  175.000000  1035404
2019-01-03  173.320007  175.220001  172.539993  173.160004   883973

[254 rows x 5 columns]

Block 6:
                  Open        High         Low       Close   Volume
Date
2019-01-04  174.899994  178.020004  172.960007  177.360001  1234989
2019-01-07  178.240005  178.240005  174.600006  175.919998   914854
2019-01-08  176.240005  178.179993  175.440002  176.100006   989326
2019-01-09  177.259995  177.639999  175.199997  177.139999   999616
2019-01-10  176.179993  178.660004  175.800003  178.520004   739543
...                ...         ...         ...         ...      ...
2020-01-02  218.600006  222.300003  218.399994  221.500000   846800
2020-01-03  220.100006  220.399994  217.649994  219.050003   997575
2020-01-06  217.149994  217.800003  215.199997  217.699997   842331
2020-01-07  218.500000  220.149994  217.850006  218.199997   905810
2020-01-08  217.199997  219.199997  215.850006  218.300003  1006392

[254 rows x 5 columns]

Block 7:
                  Open        High         Low       Close   Volume
Date
2020-01-09  220.149994  221.350006  219.850006  220.699997   998027
2020-01-10  221.500000  221.949997  220.250000  220.250000   762695
2020-01-13  221.250000  221.449997  219.250000  219.649994   698396
2020-01-14  219.699997  219.800003  217.949997  218.850006   827509
2020-01-15  218.649994  219.000000  216.149994  217.199997  1105804
...                ...         ...         ...         ...      ...
2021-01-04  202.550003  202.699997  196.399994  198.619995  1176585
2021-01-05  197.559998  199.839996  195.119995  196.580002  1053943
2021-01-06  198.979996  207.850006  197.119995  206.800003  1984656
2021-01-07  207.899994  208.350006  204.800003  205.100006  1052876
2021-01-08  206.550003  207.000000  204.699997  205.750000   938809

[254 rows x 5 columns]

Block 8:
                  Open        High         Low       Close   Volume
Date
2021-01-11  204.250000  205.649994  201.949997  203.300003   763099
2021-01-12  204.350006  204.899994  201.750000  203.149994   718527
2021-01-13  203.199997  203.250000  200.050003  201.100006   827455
2021-01-14  201.100006  203.300003  200.949997  203.199997   878413
2021-01-15  201.750000  203.699997  199.500000  202.149994  1248713
...                ...         ...         ...         ...      ...
2021-12-30  208.050003  208.050003  207.050003  207.649994   463769
2022-01-03  208.050003  211.000000  207.949997  209.850006   766707
2022-01-04  210.449997  216.050003  210.300003  215.850006  1314167
2022-01-05  217.000000  217.000000  215.550003  216.750000   652265
2022-01-06  216.350006  220.399994  214.899994  220.000000  1509855

[254 rows x 5 columns]

Block 9:
                  Open        High         Low       Close   Volume
Date
2022-01-07  220.750000  222.550003  219.649994  222.550003  1188985
2022-01-10  223.000000  224.699997  222.699997  223.399994  1117765
2022-01-11  224.850006  225.800003  223.350006  225.800003   988769
2022-01-12  226.050003  226.399994  224.300003  226.050003   948294
2022-01-13  225.850006  227.399994  224.949997  227.399994   786067
...                ...         ...         ...         ...      ...
2022-12-23  203.100006  203.199997  201.449997  202.199997   338205
2022-12-27  203.800003  203.800003  202.500000  203.050003   309934
2022-12-28  203.600006  203.750000  202.149994  202.149994   359995
2022-12-29  200.850006  203.699997  200.699997  203.699997   430226
2022-12-30  202.050003  202.649994  200.899994  200.899994   406135

[253 rows x 5 columns]

Symbol: DBK.DE
Block 1:
                 Open       High        Low      Close    Volume
Date
2014-01-02  29.683363  29.777000  28.955538  29.019382   6964846
2014-01-03  29.155582  29.410959  28.951281  29.283272   5344933
2014-01-06  29.240709  29.611006  29.181122  29.381166   4768036
2014-01-07  29.402449  30.415445  29.402449  30.270731   9363207
2014-01-08  30.475033  31.139013  30.402676  30.875124  11376352
...               ...        ...        ...        ...       ...
2014-12-23  22.433170  22.638447  22.205582  22.625059   4652927
2014-12-29  22.580435  22.691998  22.152031  22.629522   4907891
2014-12-30  22.491184  22.531347  22.299295  22.299295   3191689
2015-01-02  22.451021  22.790174  22.232357  22.540272   6609149
2015-01-05  22.491184  22.647373  21.558514  21.620989  11323893

[254 rows x 5 columns]

Block 2:
                 Open       High        Low      Close    Volume
Date
2015-01-06  21.598677  21.915518  21.161348  21.344313   9189181
2015-01-07  21.540663  21.701315  21.326462  21.460339   6059355
2015-01-08  21.812878  22.022617  21.317537  21.853041  12038298
2015-01-09  21.795029  22.018154  21.103334  21.339849  11003161
2015-01-12  21.411249  21.661152  20.951609  21.339849   9127284
...               ...        ...        ...        ...       ...
2015-12-28  19.902912  20.072489  19.728874  19.795813   2786342
2015-12-29  19.992163  20.402718  19.992163  20.282228   5292754
2015-12-30  20.313465  20.349167  20.103727  20.103727   2659495
2016-01-04  19.545910  19.702099  18.970242  19.144281  10874965
2016-01-05  19.715487  19.724411  19.135357  19.452196   7489150

[254 rows x 5 columns]

Block 3:
                 Open       High        Low      Close    Volume
Date
2016-01-06  19.336170  19.536985  19.099655  19.291546   7130077
2016-01-07  18.867603  19.014868  18.407963  18.876530  11562341
2016-01-08  18.903303  19.126431  18.265162  18.265162   8803404
2016-01-11  18.149136  18.805128  18.149136  18.479362   8905912
2016-01-12  18.577539  19.037180  18.448126  18.756041   7081250
...               ...        ...        ...        ...       ...
2016-12-27  15.980343  16.051744  15.516239  15.654578   7021431
2016-12-28  15.663503  15.708128  15.315425  15.636728   8481796
2016-12-29  15.377900  15.534089  15.190474  15.270800   6961426
2016-12-30  15.270800  15.409138  15.016435  15.395751   6363894
2017-01-02  15.351125  15.828617  15.302037  15.659040   5657913

[254 rows x 5 columns]

Block 4:
                 Open       High        Low      Close    Volume
Date
2017-01-03  15.685816  15.962493  15.266337  15.810767  15509039
2017-01-04  15.931255  16.319496  15.926792  16.297182  14429132
2017-01-05  16.422134  16.743437  16.016043  16.167768  15983433
2017-01-06  16.176695  16.350733  16.038357  16.350733  11183917
2017-01-09  16.234709  16.364120  15.931255  16.154383   9424443
...               ...        ...        ...        ...       ...
2017-12-21  16.600000  16.625000  16.305000  16.520000  12023710
2017-12-22  16.500000  16.590000  16.315001  16.315001   8687316
2017-12-27  16.270000  16.350000  16.065001  16.070000   7066492
2017-12-28  16.000000  16.120001  15.890000  15.940000   6956824
2017-12-29  15.965000  15.980000  15.825000  15.875000   5592819

[254 rows x 5 columns]

Block 5:
              Open       High     Low      Close    Volume
Date
2018-01-02  16.034  16.087999  15.780  15.958000  12548973
2018-01-03  16.070  16.077999  15.812  15.910000  15445581
2018-01-04  15.970  16.358000  15.884  16.332001  17568313
2018-01-05  16.400  16.455999  15.432  15.490000  33995534
2018-01-08  15.500  15.520000  15.106  15.340000  22861725
...            ...        ...     ...        ...       ...
2018-12-21   7.000   7.100000   6.842   7.042000  38586144
2018-12-27   7.100   7.130000   6.678   6.750000  17761385
2018-12-28   6.810   7.009000   6.781   6.967000   9429341
2019-01-02   7.070   7.185000   6.836   7.149000  16731014
2019-01-03   7.069   7.289000   7.026   7.098000  12433219

[254 rows x 5 columns]

Block 6:
             Open   High    Low  Close    Volume
Date
2019-01-04  7.200  7.450  7.170  7.436  16572099
2019-01-07  7.507  7.593  7.405  7.551  12091778
2019-01-08  7.596  7.799  7.571  7.623  14390276
2019-01-09  7.660  7.698  7.360  7.412  16116045
2019-01-10  7.280  7.485  7.150  7.480  12605972
...           ...    ...    ...    ...       ...
2020-01-02  6.987  7.347  6.975  7.347  24048444
2020-01-03  7.306  7.358  7.174  7.250  13519680
2020-01-06  7.189  7.194  7.005  7.185  15053032
2020-01-07  7.231  7.442  7.226  7.434  16280714
2020-01-08  7.364  7.685  7.304  7.685  23003315

[254 rows x 5 columns]

Block 7:
             Open   High    Low  Close    Volume
Date
2020-01-09  7.798  7.880  7.684  7.716  17653913
2020-01-10  7.782  7.782  7.639  7.695  13262969
2020-01-13  7.721  7.740  7.542  7.580  12178152
2020-01-14  7.589  7.753  7.496  7.753  15893049
2020-01-15  7.729  7.754  7.563  7.570  12573989
...           ...    ...    ...    ...       ...
2021-01-04  9.027  9.032  8.731  8.791  10570506
2021-01-05  8.737  8.955  8.730  8.850   7353910
2021-01-06  8.978  9.399  8.978  9.380  16445793
2021-01-07  9.437  9.583  9.165  9.583  14687453
2021-01-08  9.599  9.654  9.490  9.519  11452699

[254 rows x 5 columns]

Block 8:
              Open    High     Low   Close    Volume
Date
2021-01-11   9.450   9.563   9.397   9.523   9938500
2021-01-12   9.580   9.750   9.551   9.670  10388366
2021-01-13   9.626   9.685   9.492   9.590   8254387
2021-01-14   9.709  10.000   9.709   9.996  14477168
2021-01-15   9.924  10.086   9.567   9.627  18041332
...            ...     ...     ...     ...       ...
2021-12-30  11.062  11.092  11.008  11.018   3424399
2022-01-03  11.066  11.378  11.020  11.348   8813113
2022-01-04  11.374  11.744  11.350  11.692  13350463
2022-01-05  11.716  11.956  11.602  11.850  10367648
2022-01-06  11.748  12.252  11.700  12.150  14599870

[254 rows x 5 columns]

Block 9:
              Open    High     Low   Close    Volume
Date
2022-01-07  12.330  12.482  12.126  12.366  13200588
2022-01-10  12.480  12.564  12.330  12.374  10011119
2022-01-11  12.150  12.416  12.090  12.314  11994824
2022-01-12  12.410  12.444  12.184  12.224  10424643
2022-01-13  12.180  12.266  11.910  12.200  12039618
...            ...     ...     ...     ...       ...
2022-12-23  10.672  10.728  10.608  10.706   3388365
2022-12-27  10.750  10.786  10.672  10.710   3160258
2022-12-28  10.744  10.744  10.594  10.630   3598372
2022-12-29  10.590  10.722  10.558  10.704   3979910
2022-12-30  10.670  10.680  10.588  10.588   3179716

[253 rows x 5 columns]

Symbol: VOW3.DE
Block 1:
                  Open        High         Low       Close   Volume
Date
2014-01-02  204.850006  205.000000  199.649994  200.500000  1112625
2014-01-03  200.750000  201.550003  199.850006  200.500000   651593
2014-01-06  200.149994  200.800003  197.050003  198.750000   571867
2014-01-07  198.949997  200.750000  197.500000  200.000000   582459
2014-01-08  200.199997  200.399994  198.699997  200.149994   470813
...                ...         ...         ...         ...      ...
2014-12-23  185.800003  187.100006  185.050003  187.100006   370236
2014-12-29  186.399994  187.500000  183.649994  186.600006   491355
2014-12-30  185.300003  186.149994  184.500000  184.649994   301393
2015-01-02  184.500000  185.500000  180.600006  182.500000   641902
2015-01-05  181.199997  181.399994  175.500000  176.300003  1135396

[254 rows x 5 columns]

Block 2:
                  Open        High         Low       Close   Volume
Date
2015-01-06  177.000000  180.199997  174.300003  177.399994  1030867
2015-01-07  178.800003  180.300003  176.850006  178.500000   692227
2015-01-08  180.649994  184.699997  179.000000  183.850006   976784
2015-01-09  183.000000  185.000000  179.699997  180.899994   998624
2015-01-12  179.949997  182.300003  177.800003  181.750000  1132994
...                ...         ...         ...         ...      ...
2015-12-28  135.300003  135.899994  133.000000  133.149994   618649
2015-12-29  134.399994  135.399994  133.100006  135.350006   743821
2015-12-30  135.449997  135.449997  133.550003  133.750000   490476
2016-01-04  130.000000  130.100006  126.050003  126.400002  1844847
2016-01-05  125.000000  125.900002  117.599998  121.400002  3018418

[254 rows x 5 columns]

Block 3:
                  Open        High         Low       Close   Volume
Date
2016-01-06  121.949997  123.699997  115.900002  118.900002  2003639
2016-01-07  114.500000  115.250000  111.500000  115.000000  2420461
2016-01-08  116.000000  119.449997  114.599998  115.099998  1645496
2016-01-11  116.250000  121.800003  115.599998  117.050003  1796731
2016-01-12  118.150002  123.500000  118.050003  120.949997  1612308
...                ...         ...         ...         ...      ...
2016-12-27  137.550003  138.949997  136.899994  137.250000   642322
2016-12-28  136.949997  137.750000  136.500000  136.600006   634302
2016-12-29  135.500000  135.500000  133.300003  133.500000  1189830
2016-12-30  133.300003  133.500000  132.149994  133.350006   555735
2017-01-02  132.699997  138.350006  132.300003  137.750000   947388

[254 rows x 5 columns]

Block 4:
                  Open        High         Low       Close   Volume
Date
2017-01-03  138.949997  143.100006  138.949997  140.449997  2065730
2017-01-04  141.250000  142.300003  136.649994  138.750000  1570153
2017-01-05  137.600006  140.000000  136.800003  139.100006   984929
2017-01-06  138.500000  139.199997  137.949997  139.000000   795889
2017-01-09  140.000000  145.949997  139.800003  145.850006  2936933
...                ...         ...         ...         ...      ...
2017-12-21  169.699997  171.149994  169.350006  170.250000   620997
2017-12-22  170.000000  170.449997  168.399994  169.000000   511508
2017-12-27  169.000000  170.500000  167.149994  167.649994   613251
2017-12-28  167.699997  168.300003  167.199997  167.500000   422703
2017-12-29  167.800003  168.199997  166.100006  166.449997   446048

[254 rows x 5 columns]

Block 5:
                  Open        High         Low       Close   Volume
Date
2018-01-02  166.800003  167.119995  161.479996  165.699997  1319104
2018-01-03  166.500000  171.940002  166.179993  171.440002  1426451
2018-01-04  172.500000  174.839996  171.279999  174.440002  1564533
2018-01-05  176.500000  179.679993  176.300003  179.199997  2195933
2018-01-08  180.899994  180.979996  179.139999  179.839996  1162286
...                ...         ...         ...         ...      ...
2018-12-21  142.479996  146.740005  141.119995  143.300003  2650052
2018-12-27  143.380005  143.500000  136.279999  137.440002  1608052
2018-12-28  138.399994  140.080002  138.000000  138.919998   614699
2019-01-02  138.839996  138.839996  134.639999  136.259995  1116700
2019-01-03  135.000000  136.639999  134.080002  134.759995   968713

[254 rows x 5 columns]

Block 6:
                  Open        High         Low       Close   Volume
Date
2019-01-04  136.039993  140.479996  135.839996  140.479996  1177680
2019-01-07  141.899994  142.440002  140.199997  140.639999   936596
2019-01-08  139.000000  146.020004  138.360001  143.000000  1517810
2019-01-09  145.679993  148.000000  145.380005  146.479996  1370289
2019-01-10  144.539993  146.740005  143.000000  144.919998  1000029
...                ...         ...         ...         ...      ...
2020-01-02  175.600006  180.740005  175.559998  180.500000   814205
2020-01-03  178.899994  179.240005  175.000000  176.639999   948457
2020-01-06  175.000000  176.619995  173.179993  176.619995   658053
2020-01-07  177.139999  178.600006  176.059998  176.059998   932694
2020-01-08  175.000000  176.860001  174.179993  176.820007   840853

[254 rows x 5 columns]

Block 7:
                  Open        High         Low       Close   Volume
Date
2020-01-09  179.000000  182.360001  177.880005  181.720001  1338153
2020-01-10  182.000000  186.839996  181.179993  185.520004  1518740
2020-01-13  186.020004  186.399994  184.679993  185.279999   812123
2020-01-14  185.300003  186.320007  183.580002  185.220001   767691
2020-01-15  185.139999  185.479996  181.020004  182.619995  1068497
...                ...         ...         ...         ...      ...

                 Open       High        Low      Close   Volume
Date
2014-01-02  78.400002  78.720001  76.260002  76.379997  2960768
2014-01-03  76.389999  76.849998  76.029999  76.570000  1707214
2014-01-06  76.209999  76.989998  76.059998  76.419998  1749064
2014-01-07  78.430000  78.860001  78.209999  78.519997  3974187
2014-01-08  77.989998  78.419998  77.400002  78.000000  2642750
...               ...        ...        ...        ...      ...
2014-12-23  70.419998  71.010002  69.959999  71.010002  1754831
2014-12-29  71.099998  71.099998  69.739998  70.900002  1515022
2014-12-30  70.599998  70.730003  69.879997  69.879997  1320390
2015-01-02  70.300003  70.690002  68.800003  69.690002  2260387
2015-01-05  69.430000  69.860001  66.580002  66.709999  4836613

[254 rows x 5 columns]

Block 2:
                 Open       High        Low      Close   Volume
Date
2015-01-06  67.000000  67.940002  66.180000  66.690002  3794757
2015-01-07  67.059998  67.940002  66.540001  67.129997  2930654
2015-01-08  68.279999  70.139999  68.190002  69.870003  4482009
2015-01-09  69.830002  70.190002  67.519997  68.120003  3770310
2015-01-12  69.400002  69.580002  67.690002  68.809998  3351324
...               ...        ...        ...        ...      ...
2015-12-28  71.000000  71.300003  69.989998  70.309998  1133077
2015-12-29  71.269997  71.989998  70.910004  71.519997  1813076
2015-12-30  71.650002  71.680000  70.610001  70.720001  1269490
2016-01-04  69.309998  69.309998  67.089996  67.580002  4949927
2016-01-05  67.320000  67.970001  66.129997  67.199997  3310320

[254 rows x 5 columns]

Block 3:
                 Open       High        Low      Close   Volume
Date
2016-01-06  66.830002  66.900002  65.050003  66.080002  3764782
2016-01-07  64.980003  65.239998  63.450001  64.470001  5364709
2016-01-08  64.449997  65.529999  63.639999  63.680000  3828473
2016-01-11  63.500000  64.730003  63.220001  63.250000  3456405
2016-01-12  63.250000  65.160004  62.830002  64.309998  3687729
...               ...        ...        ...        ...      ...
2016-12-27  87.400002  87.919998  87.400002  87.739998   709626
2016-12-28  87.709999  88.190002  87.709999  88.000000  1132814
2016-12-29  87.639999  88.099998  87.339996  87.959999   953534
2016-12-30  88.000000  88.309998  87.349998  88.309998  1410168
2017-01-02  87.500000  88.809998  87.099998  88.699997  1245318

[254 rows x 5 columns]

Block 4:
                 Open       High        Low      Close   Volume
Date
2017-01-03  88.879997  88.879997  87.419998  87.699997  2806564
2017-01-04  87.889999  88.150002  87.269997  88.150002  1955701
2017-01-05  87.540001  88.250000  87.389999  87.790001  1753933
2017-01-06  87.500000  87.730003  87.269997  87.519997  1518979
2017-01-09  87.779999  87.790001  86.910004  87.660004  1398151
...               ...        ...        ...        ...      ...
2017-12-21  93.089996  94.250000  92.650002  93.690002  1593495
2017-12-22  93.250000  93.720001  92.910004  93.510002  1178342
2017-12-27  93.519997  94.199997  92.930000  93.589996   899321
2017-12-28  93.449997  93.779999  92.690002  92.779999  1067955
2017-12-29  92.910004  92.989998  91.650002  91.739998  1458660

[254 rows x 5 columns]

Block 5:
                 Open       High        Low      Close   Volume
Date
2018-01-02  91.559998  91.639999  90.570000  91.309998  2418347
2018-01-03  91.410004  92.230003  91.320000  91.580002  2014077
2018-01-04  92.220001  93.809998  92.089996  93.550003  2424483
2018-01-05  93.410004  94.849998  93.370003  94.849998  2147921
2018-01-08  94.639999  95.180000  94.379997  95.010002  1743044
...               ...        ...        ...        ...      ...
2018-12-21  59.580002  60.950001  59.529999  60.720001  8841494
2018-12-27  60.599998  61.049999  59.009998  59.669998  3574121
2018-12-28  60.189999  60.889999  60.000000  60.400002  1772062
2019-01-02  60.500000  60.910000  59.480000  60.720001  2564044
2019-01-03  60.099998  60.700001  59.900002  60.020000  2213589

[254 rows x 5 columns]

Block 6:
                 Open       High        Low      Close   Volume
Date
2019-01-04  60.779999  63.299999  60.650002  63.189999  4197991
2019-01-07  63.900002  63.900002  62.500000  62.900002  2437345
2019-01-08  62.919998  64.250000  62.619999  63.220001  3301634
2019-01-09  63.720001  64.260002  63.270000  63.330002  2952133
2019-01-10  63.419998  63.560001  62.860001  63.500000  2147673
...               ...        ...        ...        ...      ...
2020-01-02  67.239998  68.489998  67.199997  68.290001  2025939
2020-01-03  67.709999  67.830002  66.959999  67.269997  2579508
2020-01-06  66.250000  66.400002  65.129997  66.269997  3487724
2020-01-07  66.389999  66.800003  66.110001  66.300003  2090539
2020-01-08  65.050003  66.040001  65.050003  65.730003  3255451

[254 rows x 5 columns]

Block 7:
                 Open       High        Low      Close   Volume
Date
2020-01-09  66.309998  66.779999  66.220001  66.309998  2462547
2020-01-10  66.389999  66.570000  65.830002  65.830002  2208935
2020-01-13  66.000000  66.080002  65.519997  65.790001  2040685
2020-01-14  65.599998  65.790001  64.699997  64.760002  3688288
2020-01-15  64.699997  64.989998  64.070000  64.349998  2744952
...               ...        ...        ...        ...      ...
2021-01-04  65.480003  66.070000  64.430000  64.889999  2741508
2021-01-05  64.300003  65.470001  63.259998  64.400002  2770337
2021-01-06  65.239998  67.550003  65.139999  67.370003  5187251
2021-01-07  67.930000  68.529999  67.129997  68.410004  3655366
2021-01-08  69.000000  69.239998  68.010002  68.580002  3035733

[254 rows x 5 columns]

Block 8:
                 Open       High        Low      Close   Volume
Date
2021-01-11  67.510002  68.169998  66.610001  67.550003  2918312
2021-01-12  68.500000  68.830002  67.300003  67.900002  3245940
2021-01-13  68.099998  68.750000  67.610001  68.029999  3096228
2021-01-14  68.120003  68.410004  67.720001  68.099998  2127852
2021-01-15  67.639999  68.019997  66.110001  67.290001  3887322
...               ...        ...        ...        ...      ...
2021-12-30  61.480000  61.779999  61.330002  61.779999  1398905
2022-01-03  61.900002  63.099998  61.900002  62.580002  2705145
2022-01-04  62.830002  65.589996  62.790001  65.309998  6329398
2022-01-05  65.870003  67.139999  65.400002  65.830002  4965945
2022-01-06  65.209999  66.379997  65.029999  65.809998  3288522

[254 rows x 5 columns]

Block 9:
                 Open       High        Low      Close   Volume
Date
2022-01-07  65.680000  66.279999  65.440002  66.110001  3055239
2022-01-10  66.480003  66.540001  65.870003  66.089996  3143968
2022-01-11  66.620003  67.250000  66.470001  66.690002  3244059
2022-01-12  67.000000  67.339996  66.589996  66.860001  3255778
2022-01-13  66.900002  67.750000  66.629997  67.750000  3461319
...               ...        ...        ...        ...      ...
2022-12-23  45.895000  46.380001  45.650002  46.235001  1321140
2022-12-27  46.689999  47.064999  46.570000  46.674999  1181785
2022-12-28  46.799999  47.110001  46.480000  46.544998  1048904
2022-12-29  46.564999  46.919998  46.349998  46.759998  1039546
2022-12-30  46.654999  46.770000  46.389999  46.389999   797598

[253 rows x 5 columns]

Symbol: EOAN.DE
Block 1:
                 Open       High        Low      Close    Volume
Date
2014-01-02  12.198846  12.230567  11.818199  11.831793  11645352
2014-01-03  11.881640  11.981333  11.845388  11.908829   6597772
2014-01-06  11.940550  11.954144  11.845388  11.872577   6729898
2014-01-07  11.886171  11.958676  11.831793  11.940550   6994208
2014-01-08  11.926955  11.926955  11.772883  11.840856  11045212
...               ...        ...        ...        ...       ...
2014-12-23  12.955610  13.114213  12.869511  13.114213   5296263
2014-12-29  13.050772  13.105150  12.774349  13.100618   4900760
2014-12-30  13.059835  13.087024  12.864979  12.864979   4184436
2015-01-02  12.960141  13.023582  12.620277  12.710908   8034238
2015-01-05  12.597620  12.747160  12.053838  12.053838  13629520

[254 rows x 5 columns]

Block 2:
                 Open       High        Low      Close    Volume
Date
2015-01-06  12.094621  12.226035  11.818199  12.022117  11623989
2015-01-07  12.071964  12.130873  11.963207  12.026648   8177368
2015-01-08  12.167126  12.289476  11.931487  12.271350  11966606
2015-01-09  12.198846  12.216972  11.763820  11.822730  13489344
2015-01-12  11.877108  11.917892  11.632406  11.840856   9719368
...               ...        ...        ...        ...       ...
2015-12-28   8.156732   8.228330   7.976378   8.018068   6314479
2015-12-29   8.048882   8.111417   7.989972   8.087853   6746792
2015-12-30   8.052507   8.143137   7.998129   8.094197   4868947
2016-01-04   7.901154   7.902967   7.577604   7.599355  16640284
2016-01-05   7.694517   7.730769   7.535008   7.681829  11185332

[254 rows x 5 columns]

Block 3:
                Open      High       Low     Close    Volume
Date
2016-01-06  7.666422  7.721706  7.533195  7.651015   8545955
2016-01-07  7.413563  7.521413  7.252241  7.435314  14399518
2016-01-08  7.469754  7.553134  7.293025  7.294837  10606942
2016-01-11  7.262210  7.572166  7.259491  7.407219  12021537
2016-01-12  7.612950  7.702674  7.438940  7.521413  15180913
...              ...       ...       ...       ...       ...
2016-12-27  6.631000  6.674000  6.629000  6.646000   2698452
2016-12-28  6.644000  6.697000  6.609000  6.624000   4856708
2016-12-29  6.605000  6.689000  6.583000  6.679000   4750200
2016-12-30  6.673000  6.716000  6.648000  6.700000   5352913
2017-01-02  6.720000  6.868000  6.703000  6.820000   6957428

[254 rows x 5 columns]

Block 4:
             Open   High    Low  Close    Volume
Date
2017-01-03  6.850  6.850  6.712  6.727  10582812
2017-01-04  6.758  6.758  6.643  6.681   8110881
2017-01-05  6.653  6.739  6.633  6.706   6821258
2017-01-06  6.692  6.704  6.633  6.653   7002514
2017-01-09  6.677  6.696  6.604  6.642   6713309
...           ...    ...    ...    ...       ...
2017-12-21  9.238  9.277  9.120  9.164   9590049
2017-12-22  9.110  9.289  9.100  9.213   7136948
2017-12-27  9.216  9.284  9.101  9.154   5746408
2017-12-28  9.145  9.161  9.060  9.081   5767048
2017-12-29  9.090  9.120  9.060  9.061   6460376

[254 rows x 5 columns]

Block 5:
             Open   High    Low  Close    Volume
Date
2018-01-02  9.090  9.113  8.998  9.078  10660669
2018-01-03  9.078  9.133  8.981  9.086   9891646
2018-01-04  9.120  9.158  9.032  9.109  15445164
2018-01-05  9.130  9.248  9.094  9.237  11986371
2018-01-08  9.306  9.316  9.186  9.208  10324348
...           ...    ...    ...    ...       ...
2018-12-21  8.915  8.939  8.783  8.864  18955695
2018-12-27  8.829  8.830  8.419  8.524  14212275
2018-12-28  8.550  8.643  8.498  8.627   5684732
2019-01-02  8.561  8.935  8.542  8.900  11480802
2019-01-03  8.846  9.057  8.839  8.998  10113886

[254 rows x 5 columns]

Block 6:
             Open   High    Low  Close    Volume
Date
2019-01-04  9.050  9.132  9.002  9.083   8616427
2019-01-07  9.104  9.107  8.941  8.981   8046282
2019-01-08  9.009  9.106  8.979  9.027   8197152
2019-01-09  9.072  9.075  8.892  8.934  12471409
2019-01-10  8.900  9.104  8.900  9.020  10825242
...           ...    ...    ...    ...       ...
2020-01-02  9.550  9.651  9.510  9.594   5821140
2020-01-03  9.553  9.568  9.423  9.505   6854797
2020-01-06  9.481  9.500  9.426  9.468   4819381
2020-01-07  9.533  9.549  9.361  9.400   8756103
2020-01-08  9.392  9.448  9.331  9.431   8586674

[254 rows x 5 columns]

Block 7:
             Open   High    Low  Close    Volume
Date
2020-01-09  9.484  9.519  9.430  9.459   6137650
2020-01-10  9.500  9.714  9.481  9.670  12208671
2020-01-13  9.691  9.756  9.660  9.711   7119163
2020-01-14  9.730  9.785  9.684  9.756   6147988
2020-01-15  9.768  9.939  9.703  9.932  11025468
...           ...    ...    ...    ...       ...
2021-01-04  9.124  9.214  9.062  9.154   7585465
2021-01-05  9.090  9.116  8.896  8.930  13066740
2021-01-06  8.946  9.062  8.830  9.032  15867831
2021-01-07  9.108  9.212  9.060  9.060  12361153
2021-01-08  9.120  9.194  9.102  9.146   9128114

[254 rows x 5 columns]

Block 8:
              Open    High     Low   Close    Volume
Date
2021-01-11   9.168   9.176   8.962   9.022   9727828
2021-01-12   9.030   9.030   8.812   8.812  15015799
2021-01-13   8.840   8.950   8.790   8.938  13375894
2021-01-14   8.950   8.954   8.838   8.894   9666789
2021-01-15   8.870   8.888   8.754   8.806  13738469
...            ...     ...     ...     ...       ...
2021-12-30  12.190  12.280  12.188  12.192   3059800
2022-01-03  12.200  12.334  12.132  12.300   6181215
2022-01-04  12.336  12.336  12.148  12.206   5371580
2022-01-05  12.184  12.186  12.020  12.020   5989798
2022-01-06  11.982  11.988  11.830  11.896   6604215

[254 rows x 5 columns]

Block 9:
              Open    High     Low   Close   Volume
Date
2022-01-07  11.892  11.934  11.748  11.794  6212547
2022-01-10  11.748  11.850  11.692  11.822  6955633
2022-01-11  11.882  12.108  11.836  11.984  6831758
2022-01-12  12.010  12.064  11.816  11.900  6707413
2022-01-13  11.848  12.134  11.826  12.134  7696239
...            ...     ...     ...     ...      ...
2022-12-23   9.160   9.184   9.066   9.116  1770180
2022-12-27   9.176   9.234   9.138   9.168  1925502
2022-12-28   9.190   9.246   9.174   9.178  2136588
2022-12-29   9.164   9.400   9.156   9.392  3974707
2022-12-30   9.332   9.350   9.258   9.334  2034096

[253 rows x 5 columns]

Symbol: RWE.DE
Block 1:
                 Open       High        Low      Close   Volume
Date
2014-01-02  26.580000  26.580000  25.635000  25.645000  4834889
2014-01-03  25.719999  25.889999  25.500000  25.655001  2266644
2014-01-06  25.670000  25.825001  25.600000  25.660000  1768857
2014-01-07  25.625000  25.715000  25.455000  25.650000  2161514
2014-01-08  25.600000  25.600000  24.920000  25.120001  3904676
...               ...        ...        ...        ...      ...
2014-12-23  26.205000  26.420000  25.879999  26.375000  1454548
2014-12-29  26.275000  26.450001  25.830000  26.200001  1521450
2014-12-30  26.049999  26.070000  25.629999  25.650000  1223371
2015-01-02  25.735001  25.805000  25.115000  25.680000  2368865
2015-01-05  25.565001  25.780001  24.504999  24.514999  3367227

[254 rows x 5 columns]

Block 2:
                 Open       High        Low      Close   Volume
Date
2015-01-06  24.559999  24.709999  24.115000  24.305000  2534141
2015-01-07  24.459999  24.600000  24.000000  24.105000  2728173
2015-01-08  24.389999  24.665001  24.084999  24.625000  3289252
2015-01-09  24.545000  24.730000  23.500000  23.719999  4688556
2015-01-12  23.820000  23.860001  22.514999  23.100000  6142530
...               ...        ...        ...        ...      ...
2015-12-28  12.060000  12.160000  11.560000  11.660000  2245131
2015-12-29  11.755000  11.865000  11.515000  11.620000  2918488
2015-12-30  11.620000  11.965000  11.485000  11.710000  2416077
2016-01-04  11.385000  11.385000  10.840000  10.880000  5676324
2016-01-05  11.205000  11.220000  10.840000  11.110000  4021303

[254 rows x 5 columns]

Block 3:
              Open    High     Low   Close   Volume
Date
2016-01-06  11.135  11.265  10.905  11.165  3531979
2016-01-07  10.840  10.980  10.510  10.860  4931613
2016-01-08  10.955  11.135  10.640  10.640  3601153
2016-01-11  10.640  11.155  10.620  10.950  4929338
2016-01-12  11.420  11.440  10.965  11.030  6578085
...            ...     ...     ...     ...      ...
2016-12-27  11.585  11.695  11.575  11.680  1237269
2016-12-28  11.655  11.810  11.615  11.675  2344731
2016-12-29  11.645  11.720  11.585  11.690  1364048
2016-12-30  11.695  11.815  11.600  11.815  1774842
2017-01-02  11.950  12.195  11.850  12.085  3706107

[254 rows x 5 columns]

Block 4:
                 Open       High        Low   Close   Volume
Date
2017-01-03  12.160000  12.275000  11.975000  11.985  4979070
2017-01-04  12.000000  12.040000  11.825000  11.855  3354236
2017-01-05  11.850000  12.000000  11.840000  11.985  2357164
2017-01-06  11.945000  12.020000  11.800000  11.800  3304833
2017-01-09  11.850000  11.980000  11.725000  11.800  2787562
...               ...        ...        ...     ...      ...
2017-12-21  17.020000  17.049999  16.580000  16.715  4891095
2017-12-22  16.700001  17.290001  16.700001  17.045  4983688
2017-12-27  17.090000  17.254999  16.815001  17.000  3211462
2017-12-28  16.995001  17.000000  16.809999  16.910  2068137
2017-12-29  16.959999  17.080000  16.844999  17.000  2286402

[254 rows x 5 columns]

Block 5:
                 Open       High        Low      Close   Volume
Date
2018-01-02  17.100000  17.389999  16.875000  17.299999  4500143
2018-01-03  17.350000  17.540001  17.219999  17.459999  3654456
2018-01-04  17.545000  17.600000  17.305000  17.465000  3830500
2018-01-05  17.459999  17.680000  17.360001  17.639999  4423702
2018-01-08  17.805000  17.950001  17.639999  17.780001  4682072
...               ...        ...        ...        ...      ...
2018-12-21  19.100000  19.180000  18.905001  19.094999  5444153
2018-12-27  18.965000  19.000000  18.090000  18.490000  5175236
2018-12-28  18.500000  19.070000  18.360001  18.965000  2925476
2019-01-02  18.885000  19.375000  18.745001  19.299999  4291989
2019-01-03  19.180000  19.709999  19.020000  19.525000  3622844

[254 rows x 5 columns]

Block 6:
                 Open       High        Low      Close   Volume
Date
2019-01-04  19.690001  20.080000  19.559999  19.924999  3288528
2019-01-07  19.990000  20.059999  19.705000  19.900000  3042945
2019-01-08  19.900000  20.080000  19.820000  19.980000  2658621
2019-01-09  20.030001  20.129999  19.905001  19.975000  2288951
2019-01-10  19.905001  20.350000  19.900000  20.260000  3390440
...               ...        ...        ...        ...      ...
2020-01-02  27.219999  27.309999  26.809999  26.959999  2370079
2020-01-03  26.820000  26.840000  26.440001  26.840000  2593666
2020-01-06  26.700001  26.760000  26.450001  26.450001  1773571
2020-01-07  26.600000  27.080000  26.530001  27.049999  3350911
2020-01-08  26.990000  27.270000  26.770000  27.170000  2731742

[254 rows x 5 columns]

Block 7:
                 Open       High        Low      Close   Volume
Date
2020-01-09  27.280001  27.650000  27.219999  27.500000  2798431
2020-01-10  28.270000  29.260000  28.000000  29.260000  8753366
2020-01-13  29.299999  29.600000  29.180000  29.320000  3797299
2020-01-14  29.200001  29.350000  28.830000  29.180000  2439330
2020-01-15  29.160000  29.520000  29.049999  29.420000  2501477
...               ...        ...        ...        ...      ...
2021-01-04  34.950001  36.029999  34.950001  35.950001  3080615
2021-01-05  35.689999  35.759998  35.029999  35.200001  1981977
2021-01-06  35.529999  36.660000  35.220001  36.560001  2926790
2021-01-07  37.150002  37.310001  36.650002  36.860001  2156628
2021-01-08  37.549999  38.650002  37.400002  38.650002  3523091

[254 rows x 5 columns]

Block 8:
                 Open       High        Low      Close   Volume
Date
2021-01-11  38.450001  38.599998  37.689999  38.230000  2488128
2021-01-12  38.220001  38.560001  37.139999  37.139999  2589776
2021-01-13  36.299999  38.110001  36.180000  37.980000  2897086
2021-01-14  38.090000  38.340000  37.669998  38.340000  2012667
2021-01-15  38.340000  38.360001  37.169998  37.299999  2490729
...               ...        ...        ...        ...      ...
2021-12-30  35.349998  35.740002  35.270000  35.720001  1224861
2022-01-03  35.910000  36.130001  35.599998  35.970001  1784110
2022-01-04  36.099998  36.130001  35.400002  35.759998  2757926
2022-01-05  35.599998  35.639999  34.560001  34.560001  3548739
2022-01-06  34.500000  34.830002  34.209999  34.400002  2299373

[254 rows x 5 columns]

Block 9:
                 Open       High        Low      Close   Volume
Date
2022-01-07  34.259998  34.709999  34.000000  34.480000  2322636

# Calculate the return for every month

In [11]:
# Dictionary for the increase/decrease per symbol
change_per_symbol = {}

for symbol, split_dfs in df_split.items():
    changes = []

    # Iterate over every block of the current symbol
    for df_block in split_dfs:
        # Extract the first and the lat close value of the current block
        first_close = df_block.iloc[0]['Close']
        last_close = df_block.iloc[-1]['Close']

        # Calculate the change of the close value
        change = (last_close - first_close) / first_close * 100  # in Prozent
        changes.append(change)

    # Save the Change for the current symbol
    change_per_symbol[symbol] = changes

# Output result
for symbol, changes in change_per_symbol.items():
    print(f"Symbol: {symbol}")
    for i, change in enumerate(changes):
        print(f"Block {i+1}: {change:.2f}%")
    print()

Symbol: ALV.DE
Block 1: 4.06%
Block 2: 17.23%
Block 3: 0.19%
Block 4: 20.03%
Block 5: -10.14%
Block 6: 23.08%
Block 7: -6.77%
Block 8: 8.21%
Block 9: -9.73%

Symbol: DBK.DE
Block 1: -25.49%
Block 2: -8.86%
Block 3: -18.83%
Block 4: 0.41%
Block 5: -55.52%
Block 6: 3.35%
Block 7: 23.37%
Block 8: 27.59%
Block 9: -14.38%

Symbol: VOW3.DE
Block 1: -12.07%
Block 2: -31.57%
Block 3: 15.85%
Block 4: 18.51%
Block 5: -18.67%
Block 6: 25.87%
Block 7: -19.40%
Block 8: 30.50%
Block 9: -37.99%

Symbol: BMW.DE
Block 1: 1.84%
Block 2: 6.98%
Block 3: 1.35%
Block 4: -4.40%
Block 5: -20.08%
Block 6: 3.77%
Block 7: -5.20%
Block 8: 38.85%
Block 9: -12.78%

Symbol: ADS.DE
Block 1: -40.10%
Block 2: 59.75%
Block 3: 75.46%
Block 4: 11.99%
Block 5: 10.05%
Block 6: 58.52%
Block 7: -4.81%
Block 8: -13.41%
Block 9: -48.49%

Symbol: BEI.DE
Block 1: -9.72%
Block 2: 23.81%
Block 3: 0.49%
Block 4: 20.70%
Block 5: -5.03%
Block 6: 15.21%
Block 7: -12.20%
Block 8: -4.45%
Block 9: 19.83%

Symbol: DTE.SG
Block 1: 9.06%
Block 2: 26.21%
Block 3: 1.56%
Block 4: -9.23%
Block 5: -7.42%
Block 6: 0.00%
Block 7: 9.97%
Block 8: 8.22%
Block 9: 13.77%

Symbol: SAP.DE
Block 1: -8.64%
Block 2: 29.71%
Block 3: 15.95%
Block 4: 12.74%
Block 5: -9.15%
Block 6: 39.77%
Block 7: -13.79%
Block 8: 14.99%
Block 9: -20.52%

Symbol: 1COV.DE
Block 1: 103.40%
Block 2: 42.87%
Block 3: -25.79%
Block 4: -24.84%
Block 5: 14.66%
Block 6: 3.91%
Block 7: -30.59%

Symbol: BAS.DE
Block 1: -12.66%
Block 2: 0.76%
Block 3: 34.23%
Block 4: 4.61%
Block 5: -34.27%
Block 6: 4.02%
Block 7: 3.42%
Block 8: -2.58%
Block 9: -29.83%

Symbol: EOAN.DE
Block 1: 1.88%
Block 2: -36.10%
Block 3: -10.86%
Block 4: 34.70%
Block 5: -0.88%
Block 6: 3.83%
Block 7: -3.31%
Block 8: 31.86%
Block 9: -20.86%

Symbol: RWE.DE
Block 1: -4.41%
Block 2: -54.29%
Block 3: 8.24%
Block 4: 41.84%
Block 5: 12.86%
Block 6: 36.36%
Block 7: 40.55%
Block 8: -10.02%
Block 9: 20.62%

# Calculate the mean return over the period of 4 years

In [12]:
# Dictionary for the mean return per symbol
average_return_per_symbol = {}

for symbol, changes in change_per_symbol.items():
    # Calculate the mean return for the current symbol
    average_return = sum(changes) / len(changes)
    average_return_per_symbol[symbol] = average_return

# Output result
for symbol, avg_return in average_return_per_symbol.items():
    print(f"Durchschnittliche Rendite für {symbol}: {avg_return:.2f}%")
    
# Convert mean return to DataFrame
average_return_per_symbol_df = pd.DataFrame(list(average_return_per_symbol.items()), columns=['Symbol', 'Average_Return'])
print(average_return_per_symbol_df)

Durchschnittliche Rendite für ALV.DE: 5.13%
Durchschnittliche Rendite für DBK.DE: -7.60%
Durchschnittliche Rendite für VOW3.DE: -3.22%
Durchschnittliche Rendite für BMW.DE: 1.15%
Durchschnittliche Rendite für ADS.DE: 12.11%
Durchschnittliche Rendite für BEI.DE: 5.40%
Durchschnittliche Rendite für DTE.SG: 5.79%
Durchschnittliche Rendite für SAP.DE: 6.78%
Durchschnittliche Rendite für 1COV.DE: 11.94%
Durchschnittliche Rendite für BAS.DE: -3.59%
Durchschnittliche Rendite für EOAN.DE: 0.03%
Durchschnittliche Rendite für RWE.DE: 10.20%
     Symbol  Average_Return
0    ALV.DE        5.128629
1    DBK.DE       -7.597787
2   VOW3.DE       -3.218171
3    BMW.DE        1.145897
4    ADS.DE       12.107460
5    BEI.DE        5.403940
6    DTE.SG        5.793720
7    SAP.DE        6.784564
8   1COV.DE       11.943886
9    BAS.DE       -3.587521
10  EOAN.DE        0.027457
11   RWE.DE       10.195432

# Accuracy of the mean return to the actual return

In [13]:
MonetarizedMeanReturn = {}
mse_per_symbol = {}
# list to store the actual and predicted value for every symbol
all_actual_values = []
all_predicted_values = []
for symbol in stock_symbols:
    # Get the close value for the current symbol
    value_begin = combined_data_begin.loc[combined_data_begin['Symbol'] == symbol, 'Close_Value'].values
    # Get the close value for the current symbol from last_close_values
    value_end = next(value for sym, value in last_close_values if sym == symbol)
    # Get the average return for the current symbol
    average_return = average_return_per_symbol_df.loc[average_return_per_symbol_df['Symbol'] == symbol, 'Average_Return'].values
    MonetarizedMeanReturn[symbol] = value_begin * (1 + (average_return/100))
    mse = mean_squared_error([value_end], [MonetarizedMeanReturn[symbol]])
    #Print(mse)
    
    #dd mse to the list
    mse_per_symbol[symbol] = mse
    
    # Add the actual and predicted value to the main list
    all_actual_values.append(value_end)
    all_predicted_values.append(MonetarizedMeanReturn[symbol])
    
total_mse = mean_squared_error(all_actual_values, all_predicted_values)
standard_deviation = math.sqrt(total_mse)
standard_deviation_share = standard_deviation / 12

# Output of the mse for all values
print(f"Gesamter Mean Squared Error für alle Vorhersagen: {total_mse}")
print(f"Gesamte Standardabweichung für alle Vorhersagen: {standard_deviation}")
print(f"Gesamte Standardabweichung pro Aktie: {standard_deviation_share}")

Gesamter Mean Squared Error für alle Vorhersagen: 413.81526806606917
Gesamte Standardabweichung für alle Vorhersagen: 20.3424499032459
Gesamte Standardabweichung pro Aktie: 1.695204158603825

# Standard deviation

In [14]:
# Dictionary for the standard deviation per symbol
standard_deviation_per_symbol = {}

for symbol, changes in change_per_symbol.items():
    
    # Calculate the difference to the power of 2
    squared_diff = [(change - average_return_per_symbol[symbol]) ** 2 for change in changes]
    
    # Sum up the differences
    sum_squared_diff = sum(squared_diff)

    # Calculate the standard deviation
    standard_deviation = np.sqrt(sum_squared_diff / (len(changes) - 1))
    
    # Save the standard deviation in the dictionary
    standard_deviation_per_symbol[symbol] = standard_deviation

# Output result
for symbol, std_dev in standard_deviation_per_symbol.items():
    print(f"Standardabweichung für {symbol}: {std_dev:.2f}")
    
# Convert mean return to DataFrame
standard_deviation_per_symbol_df = pd.DataFrame(list(standard_deviation_per_symbol.items()), columns=['Symbol', 'Standard_Deviation'])
print(standard_deviation_per_symbol_df)

Standardabweichung für ALV.DE: 12.85
Standardabweichung für DBK.DE: 25.42
Standardabweichung für VOW3.DE: 26.01
Standardabweichung für BMW.DE: 16.50
Standardabweichung für ADS.DE: 44.41
Standardabweichung für BEI.DE: 14.34
Standardabweichung für DTE.SG: 10.99
Standardabweichung für SAP.DE: 20.80
Standardabweichung für 1COV.DE: 48.27
Standardabweichung für BAS.DE: 20.42
Standardabweichung für EOAN.DE: 22.65
Standardabweichung für RWE.DE: 30.63
     Symbol  Standard_Deviation
0    ALV.DE           12.851295
1    DBK.DE           25.424479
2   VOW3.DE           26.007048
3    BMW.DE           16.501465
4    ADS.DE           44.408236
5    BEI.DE           14.343655
6    DTE.SG           10.991185
7    SAP.DE           20.800510
8   1COV.DE           48.267332
9    BAS.DE           20.422438
10  EOAN.DE           22.652058
11   RWE.DE           30.633122

# Historic data from 2018 for the covarianz matrix

In [15]:
# Definition of the time period
start_date2018 = '2018-01-01'
end_date2018 = '2018-12-31'
print(end_date2018)
# Load and store the data for every symbol (share)
for symbol in stock_symbols:
    output_file = f'stock_data_{symbol}_2018.csv'
    download_stock_data(symbol, start_date2018, end_date2018, output_file)

    # Search and delete empty rows in the CSV file
    with open(output_file, 'r') as file:
        lines = file.readlines()

    # Filter the empty rows
    lines = [line.strip() for line in lines if line.strip()]

    # Overwrite the file with the cleaned rows
    with open(output_file, 'w') as file:
        file.write('\n'.join(lines))

2022-12-31

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

# Combine historical data to one file

In [16]:
# Data frame for the combined data
combined_historical2018_data = pd.DataFrame()

# load and combine the data for each share
for symbol in stock_symbols:
    # file name for the csv file
    csv_file = f'stock_data_{symbol}_2018.csv'
    
    # read CSV file and set date to index
    df = pd.read_csv(csv_file, index_col='Date', parse_dates=True)
    
    # change name of the close column
    df.rename(columns={'Close': symbol}, inplace=True)
    
    # write data to the combined file
    combined_historical2018_data = pd.concat([combined_historical2018_data, df[symbol]], axis=1)

# drop rows with NaN values
combined_historical2018_data.dropna(inplace=True)
    
# create a CSV file for the data
combined_historical2018_data.to_csv('combined_historical2018_stock_data.csv')

print(combined_historical2018_data)

                ALV.DE  DBK.DE     VOW3.DE     BMW.DE      ADS.DE      BEI.DE  \
2022-01-03  209.850006  11.348  180.800003  91.330002  259.100006   92.519997
2022-01-04  215.850006  11.692  186.979996  94.190002  258.500000   91.120003
2022-01-05  216.750000  11.850  191.000000  96.239998  260.850006   90.980003
2022-01-06  220.000000  12.150  189.100006  96.220001  252.750000   89.680000
2022-01-07  222.550003  12.366  187.740005  95.599998  247.449997   89.459999
...                ...     ...         ...        ...         ...         ...
2022-12-23  202.199997  10.706  115.660004  83.500000  125.860001  106.400002
2022-12-27  203.050003  10.710  115.860001  83.650002  126.339996  107.300003
2022-12-28  202.149994  10.630  114.959999  83.260002  125.779999  106.550003
2022-12-29  203.699997  10.704  116.139999  83.830002  128.380005  107.449997
2022-12-30  200.899994  10.588  116.419998  83.379997  127.459999  107.199997

               DTE.SG      SAP.DE    1COV.DE     BAS.DE  EOAN.DE     RWE.DE
2022-01-03  16.540001  124.239998  55.020000  62.580002   12.300  35.970001
2022-01-04  16.572001  124.379997  55.959999  65.309998   12.206  35.759998
2022-01-05  16.292000  124.820000  57.160000  65.830002   12.020  34.560001
2022-01-06  16.436001  121.940002  56.860001  65.809998   11.896  34.400002
2022-01-07  16.232000  121.279999  57.480000  66.110001   11.794  34.480000
...               ...         ...        ...        ...      ...        ...
2022-12-23  18.865999   97.379997  36.330002  46.235001    9.116  41.509998
2022-12-27  18.892000   97.239998  36.779999  46.674999    9.168  41.389999
2022-12-28  18.858000   96.669998  36.939999  46.544998    9.178  41.290001
2022-12-29  18.986000   97.589996  36.880001  46.759998    9.392  41.730000
2022-12-30  18.700001   96.389999  36.549999  46.389999    9.334  41.590000

[257 rows x 12 columns]

# Mean-Variance Optimization

In [17]:
def mean_variance_optimization(expected_returns, standard_deviations, covariance_matrix):
    n = len(expected_returns)
    initial_weights = np.array([1/n] * n)  # Start value of the weighs
    bounds = [(0, 1)] * n  # Border of the weighs (0-100% for every symbol)

    # Minimize the negative sharpe ratio
    def negative_sharpe(weights, expected_returns, standard_deviations, covariance_matrix):
        portfolio_return = np.dot(weights, expected_returns)
        portfolio_volatility = np.sqrt(np.dot(weights.T, np.dot(covariance_matrix, weights)))
        return -portfolio_return / portfolio_volatility

    result = minimize(negative_sharpe, initial_weights, args=(expected_returns, standard_deviations, covariance_matrix), bounds=bounds, constraints={'type': 'eq', 'fun': lambda x: np.sum(x) - 1})
    return result.x

In [18]:
def allocate_portfolio(historical_data, initial_capital, expected_returns_df, standard_deviations_df):
    # Calculate expected returns based on the predictions
    expected_returns = expected_returns_df['Average_Return'].values
    
    # Calculate standard deviations based on the predictions
    standard_deviations = standard_deviations_df['Standard_Deviation'].values
    
    # Calculate the covariance matrix of the returns
    covariance_matrix = historical_data.cov()
           
    print(covariance_matrix)
    
    # Perform mean-variance optimization to obtain optimal weights
    optimal_weights = mean_variance_optimization(expected_returns, standard_deviations, covariance_matrix)

    # Calculate the allocation of assets based on the optimal weights and the available capital
    asset_allocation = initial_capital * optimal_weights

    return asset_allocation

In [19]:
initial_capital = 1000 # 1000€ start capital
portfolio_allocation = allocate_portfolio(combined_historical2018_data, initial_capital, average_return_per_symbol_df, standard_deviation_per_symbol_df)
print(portfolio_allocation)

             ALV.DE     DBK.DE     VOW3.DE      BMW.DE       ADS.DE  \
ALV.DE   378.761474  27.084220  247.738666  101.413813   583.230284
DBK.DE    27.084220   2.431212   22.358885    8.756521    44.917376
VOW3.DE  247.738666  22.358885  351.838272   99.039684   695.222668
BMW.DE   101.413813   8.756521   99.039684   48.997457   168.208384
ADS.DE   583.230284  44.917376  695.222668  168.208384  1855.978471
BEI.DE   -60.246867  -5.015629  -73.746170  -14.842444  -190.363923
DTE.SG   -11.497272  -0.888829  -13.654493   -2.836395   -36.326971
SAP.DE   159.458635  11.849135  125.771314   59.439185   248.381242
1COV.DE  135.265603  10.964016  125.933437   43.336186   287.687904
BAS.DE   137.043177  11.655533  139.045799   50.372718   285.900562
EOAN.DE   22.159195   1.813865   22.639072    7.174322    50.306592
RWE.DE    -7.459152  -0.707160  -14.575938   -3.689588   -44.574248

             BEI.DE     DTE.SG      SAP.DE     1COV.DE      BAS.DE    EOAN.DE  \
ALV.DE   -60.246867 -11.497272  159.458635  135.265603  137.043177  22.159195
DBK.DE    -5.015629  -0.888829   11.849135   10.964016   11.655533   1.813865
VOW3.DE  -73.746170 -13.654493  125.771314  125.933437  139.045799  22.639072
BMW.DE   -14.842444  -2.836395   59.439185   43.336186   50.372718   7.174322
ADS.DE  -190.363923 -36.326971  248.381242  287.687904  285.900562  50.306592
BEI.DE    34.452913   5.247430  -24.890280  -34.727931  -34.361549  -5.618583
DTE.SG     5.247430   1.293455   -5.462914   -6.575476   -6.341770  -1.115987
SAP.DE   -24.890280  -5.462914   96.154351   63.631685   68.674212  10.249329
1COV.DE  -34.727931  -6.575476   63.631685   62.340133   63.293221   9.973816
BAS.DE   -34.361549  -6.341770   68.674212   63.293221   68.828355  10.549827
EOAN.DE   -5.618583  -1.115987   10.249329    9.973816   10.549827   1.798873
RWE.DE     8.426694   1.460235   -6.899900   -7.678026   -7.607419  -0.938314

            RWE.DE
ALV.DE   -7.459152
DBK.DE   -0.707160
VOW3.DE -14.575938
BMW.DE   -3.689588
ADS.DE  -44.574248
BEI.DE    8.426694
DTE.SG    1.460235
SAP.DE   -6.899900
1COV.DE  -7.678026
BAS.DE   -7.607419
EOAN.DE  -0.938314
RWE.DE    5.085111
[1.60293488e-04 1.03604226e-04 1.46155998e-04 1.13759346e-04
 4.80321889e+00 3.40864473e-03 8.16219329e+02 1.13466101e-04
 8.90998765e+01 1.19049623e-04 9.56642361e-05 8.98733154e+01]

In [20]:
# Initialisation of the portfolio
portfolio_value = 0
# initialize the list for the quantity of the shares, which have to be purchased
shares_to_buy_list = []
# Purchase the shares based on the allocations
for i, allocation in enumerate(portfolio_allocation):
    # Calculate the quantity of the shares, which should be purchased with this allocation
    shares_to_buy = (allocation) / combined_data_begin['Close_Value'][i]
    shares_to_buy_list.append(shares_to_buy)
    print(shares_to_buy)

    # Calculate the value of the stock of the purchased shares
    value_of_stock = shares_to_buy * combined_data_begin['Close_Value'][i]
    print(value_of_stock)
    
    # Add the value of the purchased share to the portfolio
    portfolio_value += value_of_stock
    print(portfolio_value)
    print("-----------------------------")

# Output of the total value of the portfolio at the end of the period to be predicted
print("Gesamtwert des Portfolios am Ende des ersten Monats von 2019:", portfolio_value)
print(shares_to_buy_list)

7.978770172756013e-07
0.0001602934879008135
0.0001602934879008135
-----------------------------
9.785060765739962e-06
0.00010360422629916421
0.0002638977141999777
-----------------------------
1.2554200295520283e-06
0.00014615599754170443
0.00041005371174168215
-----------------------------
1.3643481632569338e-06
0.000113759346105069
0.0005238130578467512
-----------------------------
0.03768412779605245
4.803218894383996
4.8037427074418435
-----------------------------
3.1797059974766934e-05
0.0034086447322580894
4.807151352174102
-----------------------------
43.648090653874974
816.2193285283124
821.0264798804865
-----------------------------
1.1771563623845316e-06
0.00011346610105176578
821.0265933465876
-----------------------------
2.4377531709391516
89.09987653796792
910.1264698845555
-----------------------------
2.5662777480864245e-06
0.0001190496231673976
910.1265889341787
-----------------------------
1.0249007914849728e-05
9.566423612390856e-05
910.1266845984148
-----------------------------
2.16093568338189
89.87331540158543
1000.0000000000002
-----------------------------
Gesamtwert des Portfolios am Ende des ersten Monats von 2019: 1000.0000000000002
[7.978770172756013e-07, 9.785060765739962e-06, 1.2554200295520283e-06, 1.3643481632569338e-06, 0.03768412779605245, 3.1797059974766934e-05, 43.648090653874974, 1.1771563623845316e-06, 2.4377531709391516, 2.5662777480864245e-06, 1.0249007914849728e-05, 2.16093568338189]

In [21]:
# Define portfolio value
new_portfolio_value = 0
# Loop over the indices of the two lists
for i in range(len(shares_to_buy_list)):
    # convert to float
    last_close_value = float(last_close_values[i][1])
    print(last_close_value)
    print(shares_to_buy_list[i])
    #Calculate the new value of the share and add the value to the list
    new_portfolio_value += (last_close_value * shares_to_buy_list[i])
    print(new_portfolio_value)
    print("----------------------------")

print("Wert des Portfolios:")
print(new_portfolio_value)

241.9499969482422
7.978770172756013e-07
0.0001930463418949043
----------------------------
12.36400032043457
9.785060765739962e-06
0.0003140288363379849
----------------------------
111.8000030517578
1.2554200295520283e-06
0.00045438479947313955
----------------------------
100.77999877929688
1.3643481632569338e-06
0.0005918838057007092
----------------------------
184.16000366210935
0.03768412779605245
6.940500996730116
----------------------------
135.6999969482422
3.1797059974766934e-05
6.944815857671656
----------------------------
21.690000534057617
43.648090653874974
953.6719254508151
----------------------------
139.47999572753906
1.1771563623845316e-06
953.6720896405795
----------------------------
52.68000030517578
2.4377531709391516
1082.0929274295972
----------------------------
48.77999877929688
2.5662777480864245e-06
1082.0930526126226
----------------------------
12.149999618530272
1.0249007914849728e-05
1082.093177138065
----------------------------
41.18000030517578
2.16093568338189
1171.0805092391963
----------------------------
Wert des Portfolios:
1171.0805092391963